{include  file='public:header'/}
<div class="admin-main-bt">
    <ul>
        <li class="li1">会员</li>
        <li class="li2">积分日志</li>
        <li class="li2 li3">积分异常更新记录</li>
    </ul>
</div>
<div class="admin-main-js admin-main-sc">
<p class="admin-attention"><span>注意：</span>2小时内积分变动超过500积分会记录才此表里面  <a class="confirm-rst-btn admin-btn-small_quxiao" data-info="你确定要点击更新监控吗？" href="{:url('app/api/monitor')}">点击更新监控</a></p>
    <div class="admin-js-nr">
        <div class="admin-select-nr" style="margin-top:0px;border-top:none;">
            <div class="right">
                <form class="admin-search-form" method="post" action="{:url('userintegrallogs/update')}">
                    <div class="admin-sele-hidden" id="admin-sele-hidden">
                        <div class="admin-sele-k">
                          <label>
                             <span>开始时间</span>
                             <input type="text" name="bg_date" value="{$bg_date|default=''}" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd HH:mm:ss'});"  class="text"/>
                          </label>
                          <label>
                             <span>结束时间</span>
                             <input type="text" name="end_date" value="{$end_date|default=''}" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd HH:mm:ss'});"  class="text"/>
                          </label>
                           <label>
                                <input type="hidden" id="user_id" name="user_id" value="{$user_id|default=''}"/>
                                <input type="text" name="nickname" id="nickname"  value="{$nickname}"  class="text"/>
                                <a mini="select"  w="920" h="600" href="{:url('user/select')}" class="sumit">选择用户</a>
                            </label>
                            <span>订单编号</span>
                            <input type="text" name="keyword" value="{$keyword}" class="admin-input-text"/>
                            <input type="submit" value=" 搜索"  class="admin-input-button"/>
                        </div>
                    </div>
                </form>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>

    <form  target="x-frame" method="post">
        <div class="admin-table-box">
            <table bordercolor="#e1e6eb" cellspacing="0" width="100%" border="1px"  style="border-collapse:collapse;margin:0px;vertical-align:middle;background-color:#FFF;">
                <tr>
                    <td class="w50"><input type="checkbox" class="checkAll" rel="update_id"/></td>
                    <td class="w50">日志ID</td>
                    <td>用户ID</td>
                    <td>用户姓名</td>
                    <td>用户手机</td>
                    <td>当前积分</td>
                    <td>变动说明</td>
                    <td>操作</td>
                </tr>
                {foreach name="list" item="var"}
                    <tr>
                        <td><input class="child_update_id" type="checkbox" name="update_id[]" value="{$var.update_id}"/></td>
                        <td>{$var.update_id}</td>
                        <td>{$users[$var['user_id']]['user_id']}</td>
                        <td>{$users[$var['user_id']]['nickname']}</td>
                        <td>{$users[$var['user_id']]['mobile']|default='未绑定手机'}</td>
                        <td>{$var.integral}</td>
                        <td>{$var.intro}</td>
                        <td>
                        	{:BA('user/index',array("user_id"=>$var["user_id"],'p'=>$p),'管理用户','','admin-btn-small')}
                            {:BA('userintegrallogs/index',array("user_id"=>$var["user_id"],'p'=>$p),'积分日志','','admin-btn-small')}
                        </td>
                    </tr>
                {/foreach}
            </table>
            {$page}
        </div>
    </form>
</div>
</div>
{include  file='public:footer'/}
