{include  file='public:header'/}
<div class="admin-main-bt">
    <ul>
        <li class="li1">设置</li>
        <li class="li2">角色设置</li>
        <li class="li2 li3">编辑角色</li>
    </ul>
</div>
<p class="admin-attention"><span>说明：</span> 请选择类型城市</p>
<div class="listBox clfx">
    <div class="menuManage">
         <form target="x-frame" action="{:url('role/edit',array('role_id'=>$detail['role_id']))}" method="post">
            <div class="admin-main-sc-add">
                <div class="admin-table-box">
                    <table bordercolor="#e1e6eb" cellspacing="0" width="100%" border="1px"  style=" border-collapse: collapse; margin:0px; vertical-align:middle; background-color:#FFF;">
                        
                        <tr>
                            <td class="admin-table-left">模块名称：</td>
                            <td class="admin-table-right">
                                <input name="data[role_name]" value="{$detail.role_name}"  type="text" class="admin-manage-input"/>
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="admin-table-left">管理员类型：</td>
                            <td class="admin-table-right">
                                <select name="data[type]" class="admin-sele-Fl w150" id="type">
                                   <option value="0" {eq name="detail.type" value="0"}selected="selected"{/eq} >==请选择管理员==</option>
                                   <option value="1" {eq name="detail.type" value="1"}selected="selected"{/eq} >系统管理员</option>
                                   <option value="2" {eq name="detail.type" value="2"}selected="selected"{/eq} >分站管理员</option>
                                </select>
                                <code>管理员类型必须选择</code>
                            </td>
                         </tr>
                         <tr>
                            <td class="admin-table-left">绑定城市：</td>
                            <td class="admin-table-right">
                               <select name="data[city_id]" style="float:left;" id="city_id" class="admin-sele-Fl w210"></select>
                            </td>
                         </tr>
                    </table>
                </div>
                <div class="admin-small-qr"><input type="submit" value="确认修改" class="admin-btn-small-quren"/></div>
            </div>
        </form>
    </div>
</div>

<script src="{:url('app/datas/onecity',array('name'=>'cityareas'))}"></script> 
<script>
	var city_id = <?php echo (int)$detail['city_id'];?>;
	var area_id = <?php echo (int)$detail['area_id'];?>;
	var business_id = <?php echo (int)$detail['business_id'];?>;
	$(document).ready(function (){
		var city_str = ' <option value="0">请选择...</option>';
		for (a in cityareas.city){
			if(city_id == cityareas.city[a].city_id){
				city_str += '<option selected="selected" value="' + cityareas.city[a].city_id + '">' + cityareas.city[a].name + '</option>';
			}else{
				city_str += '<option value="' + cityareas.city[a].city_id + '">' + cityareas.city[a].name + '</option>';
			}
		}
		//alert(city_str);
		$("#city_id").html(city_str);
		$("#city_id").change(function(){
			if ($("#city_id").val() > 0){
				city_id = $("#city_id").val();
				   $.ajax({
						  type: 'POST',
						  url: "{:url('app/datas/twoarea')}",
						  data:{cid:city_id},
						  dataType: 'json',
						  success: function(result){
							 var area_str = ' <option value="0">请选择...</option>';
							for (a in result) {
							  area_str += '<option value="' + result[a].area_id + '">' + result[a].area_name + '</option>';                                                        }
						   $("#area_id").html(area_str);
							$("#business_id").html('<option value="0">请选择...</option>');
						  }
					});
				$("#area_id").html(area_str);
				$("#business_id").html('<option value="0">请选择...</option>');
			}else{
				$("#area_id").html('<option value="0">请选择...</option>');
				$("#business_id").html('<option value="0">请选择...</option>');
			}
		});
		if(city_id > 0){
			var area_str = ' <option value="0">请选择...</option>';
			$.ajax({
			  type: 'POST',
			  url: "{:url('app/datas/twoarea')}",
			  data:{cid:city_id},
			  dataType: 'json',
			  success: function(result){
				 for(a in result){
					if(area_id == result[a].area_id){
						area_str += '<option selected="selected" value="' + result[a].area_id + '">' + result[a].area_name + '</option>';
					}else{
						area_str += '<option value="' + result[a].area_id + '">' + result[a].area_name + '</option>';
					}
				  }
				 $("#area_id").html(area_str);
				}
			});
		}
		$("#area_id").change(function (){
			if($("#area_id").val() > 0){
				area_id = $("#area_id").val();
					$.ajax({
						  type: 'POST',
						  url: "{:url('app/datas/tbusiness')}",
						  data:{bid:area_id},
						  dataType: 'json',
						  success: function(result){
							 var business_str = ' <option value="0">请选择...</option>';
							 for(a in result){
									business_str += '<option value="' + result[a].business_id + '">' + result[a].business_name + '</option>';
							 }
							$("#business_id").html(business_str);
						 }
					   });
			} else {
				$("#business_id").html('<option value="0">请选择...</option>');
			}
		});
		if(area_id > 0){                                    
		   $.ajax({
			  type: 'POST',
			  url: "{:url('app/datas/tbusiness')}",
			  data:{bid:area_id},
			  dataType: 'json',
			  success: function(result){
				var business_str = ' <option value="0">请选择...</option>';
				for (a in result) {
						if (business_id == result[a].business_id){
							business_str += '<option selected="selected" value="' + result[a].business_id + '">' + result[a].business_name + '</option>';
						} else {
						  business_str += '<option value="' + result[a].business_id + '">' + result[a].business_name + '</option>';
						}
				}
				 $("#business_id").html(business_str);
			  }
		   });
		}
		$("#business_id").change(function(){
			business_id = $(this).val();
		});
	});
</script> 

{include  file='public:footer'/} 