{include  file='public:header'}
<div class="admin-main-bt">
    <ul>
        <li class="li1">设置</li>
        <li class="li2">基本设置</li>
        <li class="li2 li3">{$CONFIG.integral.name}设置微信：jintaocms</li>
    </ul>
</div>
<style>
.profit {text-align:center;color:#333;font-weight:bold;background: #F5F5FB; font-size:18px;}
.admin-table-left{width:200px;}
</style>
<p class="admin-attention"><span>注意</span> 积分设置qq联系:120585 022</p>
<form  target="x-frame" action="{:url('setting/integral')}" method="post">
    <div class="admin-main-sc-add">
        <div class="admin-table-box">
            <table  bordercolor="#dbdbdb" cellspacing="0" width="100%" border="1px"  style="border-collapse:collapse;margin:0px;vertical-align:middle;background-color:#FFF;">
               	
                
                 <tr>
                    <td class="admin-table-left">{$CONFIG.integral.name}名称：</td>
                    <td class="admin-table-right">
                        <input type="text" name="data[name]" value="{$CONFIG.integral.name}" class="admin-sc-add-text-name w150">
                        <code>用于前台显示什么名称购买代码微信：tudoucms</code>
                    </td>
                </tr>
               
                <tr>
                  <td class="admin-table-right profit" colspan="2">签到积分设置</td>
                </tr>
                <tr>
                    <td class="admin-table-left">签到奖励积分：</td>
                    <td class="admin-table-right">
                        <input type="text" name="data[sign_0]" value="{$CONFIG['integral']['sign_0']}" class="admin-sc-add-text-name w80">
                        <code>签到奖励积分</code>
                    </td>
                </tr>
                <tr>
                    <td class="admin-table-left">签到第4天奖励积分：</td>
                    <td class="admin-table-right">
                        <input type="text" name="data[sign_4]" value="{$CONFIG['integral']['sign_4']}" class="admin-sc-add-text-name w80">
                        <code>签到第4天奖励积分</code>
                    </td>
                </tr>
                <tr>
                    <td class="admin-table-left">签到第7天奖励积分：</td>
                    <td class="admin-table-right">
                        <input type="text" name="data[sign_7]" value="{$CONFIG['integral']['sign_7']}" class="admin-sc-add-text-name w80">
                        <code>签到第7天奖励积分</code>
                    </td>
                </tr>
                
                
              
                
                
               
                <tr><td class="admin-table-right profit" colspan = "2"> 各种操作奖励{$CONFIG.integral.name}</td></tr>

                <tr>
                    <td class="admin-table-left">邮寄快递：</td>
                    <td class="admin-table-right">
                        <input type="text" name="data[exp]" value="{$CONFIG.integral.exp}" class="admin-sc-add-text-name w80">
                        <code>邮寄快递1元送1积分，这里请填写1</code>
                    </td>
                </tr>
                <tr>
                    <td class="admin-table-left">邀请新用户：</td>
                    <td class="admin-table-right">
                        <input type="text" name="data[yao]" value="{$CONFIG.integral.yao}" class="admin-sc-add-text-name w80">
                        <code>邀请一个新用户获取多少积分</code>
                    </td>
                </tr>  
             

                <tr>
                    <td class="admin-table-left">关注服务号：</td>
                    <td class="admin-table-right">
                        <input type="text" name="data[follow]" value="{$CONFIG.integral.follow}" class="admin-sc-add-text-name w80">
                        <code>关注服务号送多少积分</code>
                    </td>
                </tr> 
                
                <tr><td class="admin-table-right profit" colspan = "2"> 积分规则</td></tr>

                <tr>
                    <td class="admin-table-left">规则1标题：</td>
                    <td class="admin-table-right">
                        <input type="text" name="data[title_1]" value="{$CONFIG.integral.title_1}" class="admin-sc-add-text-name w360">
                        <code>规则1标题</code><br><br>
                        <textarea name="data[info_1]" cols="100" rows="3">{$CONFIG.integral.info_1}</textarea>
                        <code>规则1描述</code>
                    </td>
                </tr>
                <tr>
                    <td class="admin-table-left">规则2标题：</td>
                    <td class="admin-table-right">
                        <input type="text" name="data[title_2]" value="{$CONFIG.integral.title_2}" class="admin-sc-add-text-name w360">
                        <code>规则2标题</code><br><br>
                        <textarea name="data[info_2]" cols="100" rows="3">{$CONFIG.integral.info_2}</textarea>
                        <code>规则2描述</code>
                    </td>
                </tr> 
             	<tr>
                    <td class="admin-table-left">规则3标题：</td>
                    <td class="admin-table-right">
                        <input type="text" name="data[title_3]" value="{$CONFIG.integral.title_3}" class="admin-sc-add-text-name w360">
                        <code>规则3标题</code><br><br>
                        <textarea name="data[info_3]" cols="100" rows="3">{$CONFIG.integral.info_3}</textarea>
                        <code>规则3描述</code>
                    </td>
                </tr>
                <tr>
                    <td class="admin-table-left">规则4标题：</td>
                    <td class="admin-table-right">
                        <input type="text" name="data[title_4]" value="{$CONFIG.integral.title_4}" class="admin-sc-add-text-name w360">
                        <code>规则4标题</code><br><br>
                        <textarea name="data[info_4]" cols="100" rows="3">{$CONFIG.integral.info_4}</textarea>
                        <code>规则4描述</code>
                    </td>
                </tr>
                <tr>
                    <td class="admin-table-left">规则5标题：</td>
                    <td class="admin-table-right">
                        <input type="text" name="data[title_5]" value="{$CONFIG.integral.title_5}" class="admin-sc-add-text-name w360">
                        <code>规则5标题</code><br><br>
                        <textarea name="data[info_5]" cols="100" rows="3">{$CONFIG.integral.info_5}</textarea>
                        <code>规则5描述</code>
                    </td>
                </tr>
                
            </table>
        </div>
        <div class="admin-small-qr"><input type="submit" value="确认保存" class="admin-btn-small-quren"/></div>
    </div>
</form>


{include  file='public:footer'}  
