{include  file='public:header'/}

<style>
.admin-table-left{width: 260px;}
.profit{text-align:center; color:#000; font-weight:bold; background:#ECECEC; }
</style>


<div class="admin-main-bt">
    <ul>
        <li class="li1">设置</li>
        <li class="li2">分销</li>
        <li class="li2 li3">分销设置</li>
    </ul>
</div>

<p class="admin-attention"><span>注意：</span>1：这里开通分销，2：这页面配置分成比例，3：用户确认收货后即可给上级分成微信：jintaocms</p>
<form  target="x-frame" action="{:url('setting/profit')}" method="post">

    <div class="admin-main-sc-add">
        <div class="admin-table-box">
            <table  bordercolor="#dbdbdb" cellspacing="0" width="100%" border="1px"  style="border-collapse:collapse;margin:0px;vertical-align:middle;background-color:#FFF;">
				<tr>
                	<td class="admin-table-right profit" colspan="2"> 基本设置</td>
                </tr>
                <tr>
                    <td class="admin-table-left">开启分销功能：</td>
                    <td class="admin-table-right">
                    <label><input type="radio" name="data[profit]" {eq name="CONFIG.profit.profit" value="1"}checked="checked"{/eq} value="1"/>开启分销</label>
                    <label><input type="radio" name="data[profit]" {eq name="CONFIG.profit.profit" value="0"}checked="checked"{/eq}  value="0"/>关闭分销</label>
                    <code>这里暂时没用，如果你不想分成，则在这里订单分成费率都填写0</code>
                    </td>
                </tr>
                
                
                <tr>
                	<td class="admin-table-right profit" colspan="2"> 代理商加价模式【预留，暂无此功能】</td>
                </tr>
                <tr>
                    <td class="admin-table-left">是否开启代理商加价：</td>
                    <td class="admin-table-right">
                    <label><input type="radio" name="data[is_rate]" {eq name="CONFIG.profit.is_rate" value="1"}checked="checked"{/eq} value="1"/>开启</label>
                    <label><input type="radio" name="data[is_rate]" {eq name="CONFIG.profit.is_rate" value="0"}checked="checked"{/eq} value="0"/>关闭</label>
                    <code>是否开启代理商加价</code>
                    </td>
                </tr>
                <tr>
                    <td class="admin-table-left">是否开启代理商条件：</td>
                    <td class="admin-table-right">
                    <label><input type="radio" name="data[is_rate_tiaojian]" {eq name="CONFIG.profit.is_rate_tiaojian" value="1"}checked="checked"{/eq} value="1"/>保证金</label>
                    <label><input type="radio" name="data[is_rate_tiaojian]" {eq name="CONFIG.profit.is_rate_tiaojian" value="0"}checked="checked"{/eq} value="0"/>余额</label>
                    <code>达到某种条件的代理商才支持加价</code>
                    </td>
                </tr>  
                <tr>
                    <td class="admin-table-left">代理商加价条件金额：</td>
                    <td class="admin-table-right"><input type="number" name="data[is_rate_money]" value='{$CONFIG.profit.is_rate_money}' class="admin-sc-add-text-name w80"/>元
                    <code>代理商加价条件金额</code></td>
                </tr>

              	<tr>
                	<td class="admin-table-right profit" colspan="2"> 分成原价计算模式</td>
                </tr>
                <tr>
                    <td class="admin-table-left">分成模式：</td>
                    <td class="admin-table-right">
                    <label><input type="radio" name="data[moshi]" {eq name="CONFIG.profit.moshi" value="1"}checked="checked"{/eq} value="1"/>分订单总金额</label>
                    <label><input type="radio" name="data[moshi]" {eq name="CONFIG.profit.moshi" value="0"}checked="checked"{/eq} value="0"/>分+价金额</label>
                    <code>这里妥善选择，如果你选择分利润，那么你分成费率可以搞一些，如果你选择分订单总金额，分成费率可以低一些</code>
                    </td>
                </tr>
                
                <tr>
                    <td class="admin-table-left">分成价格计算模式：</td>
                    <td class="admin-table-right">
                        <select name="data[moshi1]"  class="admin-sc-add-text-name sogn jq_type">
                            <option value="0" {if condition="$CONFIG['profit']['moshi1'] eq 0"}selected='selected'{/if}>按照费率计算</option>
                            <option value="1" {if condition="$CONFIG['profit']['moshi1'] eq 1"}selected='selected'{/if}>按照固定金额计算</option>
                        </select>
                        <code>分成价格计算模式按照费率跟按照固定价格是不一样的</code></td>
                </tr>
              
             
               <tr class="jq_type_0">
                    <td class="admin-table-left">一级订单分成比例：</td>
                    <td class="admin-table-right"><input type="number" min="0" max="100" name="data[profit_rate1]" value='{$CONFIG.profit.profit_rate1}' class="admin-sc-add-text-name w80"/>% 
                    <code>1级分成比例，不填写或者填写0不分成</code></td>
                </tr>
                <tr class="jq_type_0">
                    <td class="admin-table-left">二级订单分成比例：</td>
                    <td class="admin-table-right"><input type="number" min="0" max="100" name="data[profit_rate2]" value='{$CONFIG.profit.profit_rate2}' class="admin-sc-add-text-name w80"/>% 
                    <code>2级分成比例，不填写或者填写0不分成</code></td>
                </tr>
                <tr class="jq_type_0">
                    <td class="admin-table-left">三级订单分成比例：</td>
                    <td class="admin-table-right"><input type="number" min="0" max="100" name="data[profit_rate3]" value='{$CONFIG.profit.profit_rate3}' class="admin-sc-add-text-name w80"/>% 
                    <code>3级分成比例，不填写或者填写0不分成</code></td>
                </tr>
                
                <tr class="jq_type_1">
                    <td class="admin-table-left">一级固定分成金额：</td>
                    <td class="admin-table-right"><input type="text" name="data[profit_guding_rate1]" value='{$CONFIG.profit.profit_guding_rate1}' class="admin-sc-add-text-name w80"/>元
                    <code>一级固定分成金额</code></td>
                </tr>
                <tr class="jq_type_1">
                    <td class="admin-table-left">二级固定分成金额：</td>
                    <td class="admin-table-right"><input type="text" name="data[profit_guding_rate2]" value='{$CONFIG.profit.profit_guding_rate2}' class="admin-sc-add-text-name w80"/>元 
                    <code>二级固定分成金额</code></td>
                </tr>
                <tr class="jq_type_1">
                    <td class="admin-table-left">三级固定分成金额：</td>
                    <td class="admin-table-right"><input type="text" name="data[profit_guding_rate3]" value='{$CONFIG.profit.profit_guding_rate3}' class="admin-sc-add-text-name w80"/>元 
                    <code>三级固定分成金额</code></td>
                </tr>
               

               <tr><td class="admin-table-right profit" colspan = "2"> 分销海报配置 【750PX*1200PX】</td></tr>
               <tr>
                 <td class="admin-table-left">海报1底图：</td>
                 <td class="admin-table-right">
                    <div style="width:300px;height:100px; float:left;">
                        <input type="hidden" name="data[qrcode1]" value="{$CONFIG.profit.qrcode1}" id="data_qrcode1">
                        <div id="fileToUpload1" >上传图片</div>
                    </div>
                    <div style="width:300px;height:100px;float:left;">
                        <img id="qrcode1_img" height="80" src="{:config_img($CONFIG[profit][qrcode1])}">
                    </div>
                    <script>
                        var uploader = WebUploader.create({
                        auto: true,
                        swf: '/static/default/webuploader/Uploader.swf',
                        server: '{:url("app/upload/uploadify",array("model"=>""))}',
                        pick: '#fileToUpload1',
                        resize: true,
                    });
                    uploader.on('uploadSuccess',function(file,resporse){
                        $("#data_qrcode1").val(resporse.url);
                        $("#qrcode1_img").attr('src',resporse.url).show();
                    });
                    uploader.on('uploadError',function(file){
                        alert('上传出错');
                    });
                    </script>
                </td>
                </tr>
				<tr>
                 <td class="admin-table-left">海报2底图：</td>
                 <td class="admin-table-right">
                    <div style="width:300px;height:100px; float:left;">
                        <input type="hidden" name="data[qrcode2]" value="{$CONFIG.profit.qrcode2}" id="data_qrcode2">
                        <div id="fileToUpload2" >上传图片</div>
                    </div>
                    <div style="width:300px;height:100px;float:left;">
                        <img id="qrcode2_img" height="80" src="{:config_img($CONFIG[profit][qrcode2])}">
                    </div>
                    <script>
                        var uploader = WebUploader.create({
                        auto: true,
                        swf: '/static/default/webuploader/Uploader.swf',
                        server: '{:url("app/upload/uploadify",array("model"=>""))}',
                        pick: '#fileToUpload2',
                        resize: true,
                    });
                    uploader.on('uploadSuccess',function(file,resporse){
                        $("#data_qrcode2").val(resporse.url);
                        $("#qrcode2_img").attr('src',resporse.url).show();
                    });
                    uploader.on('uploadError',function(file){
                        alert('上传出错');
                    });
                    </script>
                </td>
                </tr>
               <tr>
                 <td class="admin-table-left">海报3底图：</td>
                 <td class="admin-table-right">
                    <div style="width:300px;height:100px; float:left;">
                        <input type="hidden" name="data[qrcode3]" value="{$CONFIG.profit.qrcode3}" id="data_qrcode3">
                        <div id="fileToUpload3" >上传图片</div>
                    </div>
                    <div style="width:300px;height:100px;float:left;">
                        <img id="qrcode3_img" height="80" src="{:config_img($CONFIG[profit][qrcode3])}">
                    </div>
                    <script>
                        var uploader = WebUploader.create({
                        auto: true,
                        swf: '/static/default/webuploader/Uploader.swf',
                        server: '{:url("app/upload/uploadify",array("model"=>""))}',
                        pick: '#fileToUpload3',
                        resize: true,
                    });
                    uploader.on('uploadSuccess',function(file,resporse){
                        $("#data_qrcode3").val(resporse.url);
                        $("#qrcode3_img").attr('src',resporse.url).show();
                    });
                    uploader.on('uploadError',function(file){
                        alert('上传出错');
                    });
                    </script>
                </td>
                </tr>
               <tr><td class="admin-table-right profit" colspan = "2"> 分享返佣细则 </td></tr>
               
               <tr>
                    <td class="admin-table-left">分享返佣细则1：</td>
                    <td class="admin-table-right">
                        <textarea name="data[profit_xize_1]" cols="100" rows="3">{$CONFIG.profit.profit_xize_1}</textarea>
                        <code>分享返佣细则1</code>
                    </td>
               </tr>
               <tr>
                    <td class="admin-table-left">分享返佣细则2：</td>
                    <td class="admin-table-right">
                        <textarea name="data[profit_xize_2]" cols="100" rows="3">{$CONFIG.profit.profit_xize_2}</textarea>
                        <code>分享返佣细则2</code>
                    </td>
               </tr>
                <tr>
                    <td class="admin-table-left">分享返佣细则3：</td>
                    <td class="admin-table-right">
                        <textarea name="data[profit_xize_3]" cols="100" rows="3">{$CONFIG.profit.profit_xize_3}</textarea>
                        <code>分享返佣细则3</code>
                    </td>
                </tr>



            </table>

        </div>

        <div class="admin-small-qr"><input type="submit" value="确认保存" class="admin-btn-small-quren"/></div>

    </div>

</form>
<script>
$(document).ready(function(){
    $(".jq_type").change(function(){
	  var name = $(this).val();
      if(name == '0'){
          $(".jq_type_0").show();
          $(".jq_type_1").hide();
      }else if(name == '1'){
          $(".jq_type_0").hide();
          $(".jq_type_1").show();
      }
   });
   $(".jq_type").change();
});
</script>
{include  file='public:footer'/}
