@charset "utf-8";

html{height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased;}
body{margin:0;padding:0;min-height:100%; font-size: 12px; background: #eef2f5; overflow: hidden; font-family:"微软雅黑","Microsoft YaHei";
-webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        -o-user-select:none;
        user-select:none;
        -webkit-touch-callout:none; 
        -moz-touch-callout:none;
        -ms-touch-callout:none;
        -o-touch-callout:none;
        touch-callout:none;
} 

h1,h2,h3,h4,h5,h6,p,figure,form{margin:0;}  
table{border-collapse:collapse;border-spacing:0;}  
img{border:0;vertical-align:middle;-ms-interpolation-mode: bicubic; max-width: 100%;}  
a{text-decoration:none;color:#29B4F0;-webkit-tap-highlight-color:rgba(0,0,0,0);}  
a:focus{outline:none;-moz-outline:none;}  
a:visited{outline:none;-moz-outline:none;}  
ul,li,ol{margin: 0;padding:0;list-style: none outside none;}
ol li{list-style:none;}  
em{font-style:normal;}
ul.inline-style li{float:left;display:inline;}
button,input,select,textarea{font-size:0.875em;margin: 0;outline: 0 none;vertical-align: baseline;*vertical-align: middle;font-family:"MICROSOFT YAHEI";-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-appearance: none;}  
textarea{overflow: auto;vertical-align: top;resize:none;}  
button,input{line-height: normal;}  
button,  
html input[type="button"],   
input[type="reset"],  
input[type="submit"]{-webkit-appearance: button;cursor: pointer;*overflow: visible;}  
button[disabled],
input[disabled],
input[type="checkbox"],
input[type="radio"]{box-sizing: border-box;padding: 0;*height: 0.13rem;*width: 0.13rem;} 
button::-moz-focus-inner,  
input::-moz-focus-inner{border: 0;padding: 0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display: block;}  
audio,canvas,video{display: inline-block;*display: inline;*zoom: 1;}  
audio:not([controls]){display: none;height: 0;}  
input[type="search"]{-webkit-appearance: textfield;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box; box-sizing: border-box;}  
:-moz-placeholder{color: #666;}  
::-webkit-input-placeholder{color:#666;}
input{overflow: hidden; outline: none; appearance: none; -webkit-appearance: none; border: 0;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {background-color: none;background-image: none;color:#333;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    appearance: none !important;
    margin: 0; 
}

.clear{ height: 0; line-height: 0; font-size: 0; clear: both; }
.clear_both:after{ content: ""; display: block; height: 0; line-height: 0; font-size: 0; clear: both; visibility: hidden; }
.clearfix { display: block; *zoom: 1; }
.none{ display:none;}
.overflow_clear { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.mask_bg{ display:none; position:fixed; z-index: 99; top:0; left:0; width:100%; height:100%; background:#000; opacity:0.4;}
.fl { float: left; }
.fr { float: right; }

.maincl { color: #20AD20; }
.fontcl1 { color: #ff3300; }
.fontcl2{ color:#ff6600;}
.fontcl3{ color:#ff9900;}
.black9 { color: #999999; }
.black6 { color: #666666; }
.black3 { color: #333333; }
.black{ color:#000000;}
.whitecl{ color:#fff;}

.border_t { border-top: 1px solid #e6e6e6; }
.border_b { border-bottom: 1px solid #e6e6e6; }
.border_l { border-left: 1px solid #e6e6e6; }
.border_r { border-right: 1px solid #e6e6e6; }

.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }

.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px;}

.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml30 { margin-left: 30px; }

.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mr30 { margin-right: 30px; }

.text_c { text-align: center; }
.text_r { text-align: right; }
.text_l { text-align: left; }

.pad_b30{ padding-bottom:30px;}
.pad_t46{ padding-top:46px;}

.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-justify{text-align:justify;}
.text-large{font-size:24px;}
.text-big{font-size:16px;}
.text-default{font-size:14px;}
.text-small{font-size:12px;}
.text-little{font-size:10px;}
.height-large{line-height:40px;}
.height-big{line-height:30px;}
.height{line-height:24px;}
.height-small{line-height:20px;}
.height-little{line-height:16px;}
.border{border:solid 1px #eee;}
.border-top{border-top:solid 1px #eee;}
.border-right{border-right:solid 1px #eee;}
.border-bottom{border-bottom:solid 1px #eee;}
.border-left{border-left:solid 1px #eee;}
.border-left-right{border-left:solid 1px #eee;border-right:solid 1px #eee;}
.border-top-bottom{border-top:solid 1px #eee;border-bottom:solid 1px #eee;}
.border-large{border-width:10px;}
.border-big{border-width:5px;}
.border-middle{border-width:3px;}
.border-small{border-width:2px;}

.show{display:block !important;}
.hidden{display:none !important;visibility:hidden !important;}
.padding-large{padding:30px;}
.padding-large-top{padding-top:30px;}
.padding-large-right{padding-right:30px;}
.padding-large-bottom{padding-bottom:30px;}
.padding-large-left{padding-left:30px;}
.padding-big{padding:20px;}
.padding-big-top{padding-top:20px;}
.padding-big-right{padding-right:20px;}
.padding-big-bottom{padding-bottom:20px;}
.padding-big-left{padding-left:20px;}
.padding{padding:10px;}
.padding-top{padding-top:10px;}
.padding-right{padding-right:10px;}
.padding-bottom{padding-bottom:10px;}
.padding-left{padding-left:10px;}
.padding-small{padding:5px;}
.padding-small-top{padding-top:5px;}
.padding-small-right{padding-right:5px;}
.padding-small-bottom{padding-bottom:5px;}
.padding-small-left{padding-left:5px;}
.padding-little{padding:2px;}
.padding-little-top{padding-top:2px;}
.padding-little-right{padding-right:2px;}
.padding-little-bottom{padding-bottom:2px;}
.padding-little-left{padding-left:2px;}
.margin-large{margin:30px;}
.margin-large-top{margin-top:30px;}
.margin-large-right{margin-right:30px;}
.margin-large-bottom{margin-bottom:30px;}
.margin-large-left{margin-left:30px;}
.margin-big{margin:20px;}
.margin-big-top{margin-top:20px;}
.margin-big-right{margin-right:20px;}
.margin-big-bottom{margin-bottom:20px;}
.margin-big-left{margin-left:20px;}
.margin{margin:10px !important;clear:both;}
.margin-top{margin-top:10px;}
.margin-right{margin-right:10px;}
.margin-bottom{margin-bottom:10px;}
.margin-left{margin-left:10px;}
.margin-small{margin:5px;}
.margin-small-top{margin-top:5px;}
.margin-small-right{margin-right:5px;}
.margin-small-bottom{margin-bottom:5px;}
.margin-small-left{margin-left:5px;}
.margin-little{margin:2px;}
.margin-little-top{margin-top:2px;}
.margin-little-right{margin-right:2px;}
.margin-little-bottom{margin-bottom:2px;}
.margin-little-left{margin-left:2px;}
.radius-none{border-radius:0;}
.radius-small{border-radius:2px;}
.radius{border-radius:4px;}
.radius-big{border-radius:6px;}
.radius-rounded{border-radius:2em;padding-left:1em;padding-right:1em;}
.radius-circle{border-radius:50%;}


.x1,.x2,.x3,.x4,.x5,.x6,.x7,.x8,.x9,.x10,.x11,.x12,.xl1,.xl2,.xl3,.xl4,.xl5,.xl6,.xl7,.xl8,.xl9,.xl10,.xl11,.xl12,.xs1,.xs2,.xs3,.xs4,.xs5,.xs6,.xs7,.xs8,.xs9,.xs10,.xs11,.xs12,.xm1,.xm2,.xm3,.xm4,.xm5,.xm6,.xm7,.xm8,.xm9,.xm10,.xm11,.xm12,.xb1,.xb2,.xb3,.xb4,.xb5,.xb6,.xb7,.xb8,.xb9,.xb10,.xb11,.xb12{position:relative;min-height:1px;}
.x1,.x2,.x3,.x4,.x5,.x6,.x7,.x8,.x9,.x10,.x11,.x12{float:left;}
.x1{width:8.33333333%;}.x2{width:16.66666667%;}.x3{width:25%;}.x4{width:33.33333333%;}.x5{width:41.66666667%;}.x6{width:50%;}.x7{width:58.33333333%;}.x8{width:66.66666667%;}.x9{width:75%;}.x10{width:83.33333333%;}.x11{width:91.66666667%;}.x12{width:100%;}
.x0-left{left:0;}.x1-left{left:8.33333333%;}.x2-left{left:16.66666667%;}.x3-left{left:25%;}.x4-left{left:33.33333333%;}.x5-left{left:41.66666667%;}.x6-left{left:50%;}.x7-left{left:58.33333333%;}.x8-left{left:66.66666667%;}.x9-left{left:75%;}.x10-left{left:83.33333333%;}.x11-left{left:91.66666667%;}.x12-left{left:100%;}
.x0-right{right:0;}.x1-right{right:8.33333333%;}.x2-right{right:16.66666667%;}.x3-right{right:25%;}.x4-right{right:33.33333333%;}.x5-right{right:41.66666667%;}.x6-right{right:50%;}.x7-right{right:58.33333333%;}.x8-right{right:66.66666667%;}.x9-right{right:75%;}.x10-right{right:83.33333333%;}.x11-right{right:91.66666667%;}.x12-right{right:100%;}
.x0-move{margin-left:0;}.x1-move{margin-left:8.33333333%;}.x2-move{margin-left:16.66666667%;}.x3-move{margin-left:25%;}.x4-move{margin-left:33.33333333%;}.x5-move{margin-left:41.66666667%;}.x6-move{margin-left:50%;}.x7-move{margin-left:58.33333333%;}.x8-move{margin-left:66.66666667%;}.x9-move{margin-left:75%;}.x10-move{margin-left:83.33333333%;}.x11-move{margin-left:91.66666667%;}.x12-move{margin-left:100%;}
@media (min-width:300px){
.xl1,.xl2,.xl3,.xl4,.xl5,.xl6,.xl7,.xl8,.xl9,.xl10,.xl11,.xl12{float:left;}
.xl1{width:8.33333333%;}.xl2{width:16.66666667%;}.xl3{width:25%;}.xl4{width:33.33333333%;}.xl5{width:41.66666667%;}.xl6{width:50%;}.xl7{width:58.33333333%;}.xl8{width:66.66666667%;}.xl9{width:75%;}.xl10{width:83.33333333%;}.xl11{width:91.66666667%;}.xl12{width:100%;}
.xl0-left{left:0;}.xl1-left{left:8.33333333%;}.xl2-left{left:16.66666667%;}.xl3-left{left:25%;}.xl4-left{left:33.33333333%;}.xl5-left{left:41.66666667%;}.xl6-left{left:50%;}.xl7-left{left:58.33333333%;}.xl8-left{left:66.66666667%;}.xl9-left{left:75%;}.xl10-left{left:83.33333333%;}.xl11-left{left:91.66666667%;}.xl12-left{left:100%;}
.xl0-right{right:0;}.xl1-right{right:8.33333333%;}.xl2-right{right:16.66666667%;}.xl3-right{right:25%;}.xl4-right{right:33.33333333%;}.xl5-right{right:41.66666667%;}.xl6-right{right:50%;}.xl7-right{right:58.33333333%;}.xl8-right{right:66.66666667%;}.xl9-right{right:75%;}.xl10-right{right:83.33333333%;}.xl11-right{right:91.66666667%;}.xl12-right{right:100%;}
.xl0-move{margin-left:0;}.xl1-move{margin-left:8.33333333%;}.xl2-move{margin-left:16.66666667%;}.xl3-move{margin-left:25%;}.xl4-move{margin-left:33.33333333%;}.xl5-move{margin-left:41.66666667%;}.xl6-move{margin-left:50%;}.xl7-move{margin-left:58.33333333%;}.xl8-move{margin-left:66.66666667%;}.xl9-move{margin-left:75%;}.xl10-move{margin-left:83.33333333%;}.xl11-move{margin-left:91.66666667%;}.xl12-move{margin-left:100%;}
}
@media (min-width:760px){
.xs1,.xs2,.xs3,.xs4,.xs5,.xs6,.xs7,.xs8,.xs9,.xs10,.xs11,.xs12{float:left;}
.xs1{width:8.33333333%;}.xs2{width:16.66666667%;}.xs3{width:25%;}.xs4{width:33.33333333%;}.xs5{width:41.66666667%;}.xs6{width:50%;}.xs7{width:58.33333333%;}.xs8{width:66.66666667%;}.xs9{width:75%;}.xs10{width:83.33333333%;}.xs11{width:91.66666667%;}.xs12{width:100%;}
.xs0-left{left:0;}.xs1-left{left:8.33333333%;}.xs2-left{left:16.66666667%;}.xs3-left{left:25%;}.xs4-left{left:33.33333333%;}.xs5-left{left:41.66666667%;}.xs6-left{left:50%;}.xs7-left{left:58.33333333%;}.xs8-left{left:66.66666667%;}.xs9-left{left:75%;}.xs10-left{left:83.33333333%;}.xs11-left{left:91.66666667%;}.xs12-left{left:100%;}
.xs0-right{right:0;}.xs1-right{right:8.33333333%;}.xs2-right{right:16.66666667%;}.xs3-right{right:25%;}.xs4-right{right:33.33333333%;}.xs5-right{right:41.66666667%;}.xs6-right{right:50%;}.xs7-right{right:58.33333333%;}.xs8-right{right:66.66666667%;}.xs9-right{right:75%;}.xs10-right{right:83.33333333%;}.xs11-right{right:91.66666667%;}.xs12-right{right:100%;}
.xs0-move{margin-left:0;}.xs1-move{margin-left:8.33333333%;}.xs2-move{margin-left:16.66666667%;}.xs3-move{margin-left:25%;}.xs4-move{margin-left:33.33333333%;}.xs5-move{margin-left:41.66666667%;}.xs6-move{margin-left:50%;}.xs7-move{margin-left:58.33333333%;}.xs8-move{margin-left:66.66666667%;}.xs9-move{margin-left:75%;}.xs10-move{margin-left:83.33333333%;}.xs11-move{margin-left:91.66666667%;}.xs12-move{margin-left:100%;}
}
@media (min-width:1000px){
.xm1,.xm2,.xm3,.xm4,.xm5,.xm6,.xm7,.xm8,.xm9,.xm10,.xm11,.xm12{float:left;}
.xm1{width:8.33333333%;}.xm2{width:16.66666667%;}.xm3{width:25%;}.xm4{width:33.33333333%;}.xm5{width:41.66666667%;}.xm6{width:50%;}.xm7{width:58.33333333%;}.xm8{width:66.66666667%;}.xm9{width:75%;}.xm10{width:83.33333333%;}.xm11{width:91.66666667%;}.xm12{width:100%;}
.xm0-left{left:0;}.xm1-left{left:8.33333333%;}.xm2-left{left:16.66666667%;}.xm3-left{left:25%;}.xm4-left{left:33.33333333%;}.xm5-left{left:41.66666667%;}.xm6-left{left:50%;}.xm7-left{left:58.33333333%;}.xm8-left{left:66.66666667%;}.xm9-left{left:75%;}.xm10-left{left:83.33333333%;}.xm11-left{left:91.66666667%;}.xm12-left{left:100%;}
.xm0-right{right:0;}.xm1-right{right:8.33333333%;}.xm2-right{right:16.66666667%;}.xm3-right{right:25%;}.xm4-right{right:33.33333333%;}.xm5-right{right:41.66666667%;}.xm6-right{right:50%;}.xm7-right{right:58.33333333%;}.xm8-right{right:66.66666667%;}.xm9-right{right:75%;}.xm10-right{right:83.33333333%;}.xm11-right{right:91.66666667%;}.xm12-right{right:100%;}
.xm0-move{margin-left:0;}.xm1-move{margin-left:8.33333333%;}.xm2-move{margin-left:16.66666667%;}.xm3-move{margin-left:25%;}.xm4-move{margin-left:33.33333333%;}.xm5-move{margin-left:41.66666667%;}.xm6-move{margin-left:50%;}.xm7-move{margin-left:58.33333333%;}.xm8-move{margin-left:66.66666667%;}.xm9-move{margin-left:75%;}.xm10-move{margin-left:83.33333333%;}.xm11-move{margin-left:91.66666667%;}.xm12-move{margin-left:100%;}
}
@media (min-width:1200px){
.xb1,.xb2,.xb3,.xb4,.xb5,.xb6,.xb7,.xb8,.xb9,.xb10,.xb11,.xb12{float:left;}
.xb1{width:8.33333333%;}.xb2{width:16.66666667%;}.xb3{width:25%;}.xb4{width:33.33333333%;}.xb5{width:41.66666667%;}.xb6{width:50%;}.xb7{width:58.33333333%;}.xb8{width:66.66666667%;}.xb9{width:75%;}.xb10{width:83.33333333%;}.xb11{width:91.66666667%;}.xb12{width:100%;}
.xb0-left{left:0;}.xb1-left{left:8.33333333%;}.xb2-left{left:16.66666667%;}.xb3-left{left:25%;}.xb4-left{left:33.33333333%;}.xb5-left{left:41.66666667%;}.xb6-left{left:50%;}.xb7-left{left:58.33333333%;}.xb8-left{left:66.66666667%;}.xb9-left{left:75%;}.xb10-left{left:83.33333333%;}.xb11-left{left:91.66666667%;}.xb12-left{left:100%;}
.xb0-right{right:0;}.xb1-right{right:8.33333333%;}.xb2-right{right:16.66666667%;}.xb3-right{right:25%;}.xb4-right{right:33.33333333%;}.xb5-right{right:41.66666667%;}.xb6-right{right:50%;}.xb7-right{right:58.33333333%;}.xb8-right{right:66.66666667%;}.xb9-right{right:75%;}.xb10-right{right:83.33333333%;}.xb11-right{right:91.66666667%;}.xb12-right{right:100%;}
.xb0-move{margin-left:0;}.xb1-move{margin-left:8.33333333%;}.xb2-move{margin-left:16.66666667%;}.xb3-move{margin-left:25%;}.xb4-move{margin-left:33.33333333%;}.xb5-move{margin-left:41.66666667%;}.xb6-move{margin-left:50%;}.xb7-move{margin-left:58.33333333%;}.xb8-move{margin-left:66.66666667%;}.xb9-move{margin-left:75%;}.xb10-move{margin-left:83.33333333%;}.xb11-move{margin-left:91.66666667%;}.xb12-move{margin-left:100%;}
}


.text-black, a.text-black:link, a.text-black:visited,.button.border-black,blockquote.border-black strong,.pager.border-black a,.pager-prev.border-black,.pager-next.border-black
{color:#000;}
a.text-black:hover{color:#666;}
.text-gray, a.text-gray:link, a.text-gray:visited,.button.border-gray,blockquote.border-gray strong,.pager.border-gray a,.pager-prev.border-gray,.pager-next.border-gray
{color:#999;}
.text-white, a.text-white:link, a.text-white:visited,.button.border-white,blockquote.border-white,.pager.border-white a,.pager-prev.border-white,.pager-next.border-white
{color:#fff;}
.text-red, a.text-red:link, a.text-red:visited,.button.border-red,.button.bg-red-light,blockquote.border-red strong,.pager.border-red a,.pager-prev.border-red,.pager-next.border-red,.badge.bg-red-light,.alert-red,.check-error
{color:#e33;}
.text-yellow, a.text-yellow:link, a.text-yellow:visited,.button.border-yellow,.button.bg-yellow-light,blockquote.border-yellow strong,.pager.border-yellow a,.pager-prev.border-yellow,.pager-next.border-yellow,.badge.bg-yellow-light,.alert-yellow,.check-warning
{color:#06c1ae;}
.text-blue, a.text-blue:link, a.text-blue:visited,.button.border-blue,.button.bg-blue-light,blockquote.border-blue strong,.pager.border-blue a,.pager-prev.border-blue,.pager-next.border-blue,.badge.bg-blue-light,.alert-blue
{color:#0ae;}
.text-green, a.text-green:link, a.text-green:visited,.button.border-green,.button.bg-green-light,blockquote.border-green strong,.pager.border-green a,.pager-prev.border-green,.pager-next.border-green,.badge.bg-green-light,.alert-green,.check-success
{color:#8CBF4C;}
.text-red-light, a.text-red-light:link, a.text-red-light:visited,.button.border-red-light,blockquote.border-red-light strong,.pager.border-red-light a
{color:#fdc;}
.text-yellow-light, a.text-yellow-light:link, a.text-yellow-light:visited,.button.border-yellow-light,blockquote.border-yellow-light strong,.pager.border-yellow-light a,.pager-prev.border-yellow-light,.pager-next.border-yellow-light
{color:#fec;}
.text-blue-light, a.text-blue-light:link, a.text-blue-light:visited,.button.border-blue-light,blockquote.border-blue-light strong,.pager.border-blue-light a,.pager-prev.border-blue-light,.pager-next.border-blue-light
{color:#def;}
.text-green-light, a.text-green-light:link, a.text-green-light:visited,.button.border-green-light,blockquote.border-green-light strong,.pager.border-green-light a,.pager-prev.border-green-light,.pager-next.border-green-light
{color:#ded;}
.bg-inverse, .bg-inverse a{color:#fff;}
a.text-white:hover, .bg-inverse a:hover{color:#ddd;}
.bg,.table .current, .table .current td,.table .current th,.button.active,.pointer.border .active,.nav-menu ul a:hover,.nav-menu.nav-pills .active ul a:hover,.bg-inverse .nav.nav-menu ul a:hover,.bg-inverse .nav.nav-menu .active ul a:hover,.bg-inverse .nav.nav-menu.nav-tabs ul a:hover,.bg-inverse .nav.nav-menu.nav-pills ul a:hover,.bg-inverse .nav-menu.nav-inline.nav-big ul a:hover,.navbar-body .nav ul a:hover
{background-color:#f0efed;}
.bg-black,.border-black .button.active,.pointer.border-black .active,.nav-pills.border-black .active a,.nav-main.border-black .nav-head,.pagination.border-black .active
{background-color:#000;}
.bg-gray,.border-gray .button.active,.pointer.border-gray .active,.nav-pills.border-gray .active a,.nav-main.border-gray .nav-head,.pagination.border-gray .active
{background-color:#999;}
.bg-white,.button.bg,.border-white .button.active,.pointer.border-white .active,.nav-pills.border-white .active a,.nav-main.border-white .nav-head,.pagination.border-white .active
{background-color:#fff;}
.bg-red,.border-red .button.active,.pointer.border-red .active,.nav-pills.border-red .active a,.nav-main.border-red .nav-head,.pagination.border-red .active
{background-color:#e33;}
.bg-yellow,.border-yellow .button.active,.pointer.border-yellow .active,.nav-pills.border-yellow .active a,.nav-main.border-yellow .nav-head,.pagination.border-yellow .active
{background-color:#06c1ae;}
.bg-blue,.border-blue .button.active,.pointer.border-blue active,.nav-pills.border-blue .active a,.nav-main.border-blue .nav-head,.pagination.border-blue .active
{background-color:#0ae;}
.bg-green,.border-green .button.active,.pointer.border-green .active,.nav-pills.border-green .active a,.pagination.border-green .active
{background-color:#2c7;}
.bg-red-light,.table .red, .table .red td, .table .red th,.alert-red,.border-red-light .button.active,.pointer.border-red-light .active,.nav-pills.border-red-light .active a,.nav-main.border-red-light .nav-head,.pagination.border-red-light .active
{background-color:#fee;}
.bg-yellow-light,.table .yellow, .table .yellow td, .table .yellow th,.alert-yellow,.border-yellow-light .button.active,.pointer.border-yellow-light .active,.nav-pills.border-yellow-light .active a,.nav-main.border-yellow-light .nav-head,.pagination.border-yellow-light .active
{background-color:#ffd;}
.bg-blue-light,.table .blue, .table .blue td, .table .blue th,.alert-blue,.border-blue-light .button.active,.pointer.border-blue-light .active,.nav-pills.border-blue-light .active a,.nav-main.border-blue-light .nav-head,.pagination.border-blue-light .active
{background-color:#eff;}
.bg-green-light,.table .green, .table .green td, .table .green th,.alert-green,.border-green-light .button.active,.pointer.border-green-light .active,.nav-pills.border-green-light .active a,.nav-main.border-green-light .nav-head,.pagination.border-green-light .active
{background-color:#efd;}
.border-dashed{border-style:dashed;}
.border-dotted{border-style:dotted;}
.border-double{border-style:double;}
.border-inset{border-style:inset;}
.border-outset{border-style:outset;}
.border-black,.border-black .button,.border-black .tab-nav li a,.border-black .tab-body,.button.bg-black,.selected.border-black,.pointer.border-black li,.nav.border-black .active a,.nav.nav-tabs.border-black,.nav-main.border-black a, .nav-main.border-black .nav-head,.pagination.border-black li,.pager.border-black a
{border-color:#000;}
.border-gray,.border-gray .button,.border-gray .tab-nav li a,.border-gray .tab-body,.button.bg-gray,.selected.border-gray,.pointer.border-gray li,.nav.border-gray .active a,.nav.nav-tabs.border-gray,.nav-main.border-gray a, .nav-main.border-gray .nav-head,.pagination.border-gray li,.pager.border-gray a
{border-color:#999;}
.border-white,.border-white .button,.border-white .tab-nav li a,.border-white .tab-body,.button.bg-white,.selected.border-white,.pointer.border-white li,.nav.border-white .active a,.nav.nav-tabs.border-white,.nav-main.border-white a, .nav-main.border-white .nav-head,.pagination.border-white li,.pager.border-white a
{border-color:#fff;}
.border-red,.border-red .button,.border-red .tab-nav li a,.border-red .tab-body,.button.bg-red,.selected.border-red,.pointer.border-red li,.check-error .input,.nav.border-red .active a,.nav.nav-tabs.border-red,.nav-main.border-red a, .nav-main.border-red .nav-head,.pagination.border-red li,.pager.border-red a
{border-color:#e33;}
.border-yellow,.border-yellow .button,.border-yellow .tab-nav li a,.border-yellow .tab-body,.button.bg-yellow,.selected.border-yellow,.pointer.border-yellow li,.check-warning .input,.nav.border-yellow .active a,.nav.nav-tabs.border-yellow,.nav-main.border-yellow a, .nav-main.border-yellow .nav-head,.pagination.border-yellow li,.pager.border-yellow a
{border-color:#06c1ae;}
.border-blue,.border-blue .button,.border-blue .tab-nav li a,.border-blue .tab-body,.button.bg-blue,.selected.border-blue,.pointer.border-blue li,.nav.border-blue .active a,.nav.nav-tabs.border-blue,.nav-main.border-blue a, .nav-main.border-blue .nav-head,.pagination.border-blue li,.pager.border-blue a
{border-color:#0ae;}
.border-green,.border-green .button,.border-green .tab-nav li a,.border-green .tab-body,.button.bg-green,.selected.border-green,.pointer.border-green li,.check-success .input,.nav.border-green .active a,.nav.nav-tabs.border-green,.nav-main.border-green a, .nav-main.border-green .nav-head,.pagination.border-green li,.pager.border-green a
{border-color:#2c7;}
.border-red-light,.border-red-light .button,.border-red-light .tab-nav li a,.border-red-light .tab-body,.button.bg-red-light,.selected.border-red-light,.alert-red,.pointer.border-red-light li,.nav.border-red-light .active a,.nav.nav-tabs.border-red-light,.nav-main.border-red-light a, .nav-main.border-red-light .nav-head,.pagination.border-red-light li,.pager.border-red-light a
{border-color:#fee;}
.border-yellow-light,.border-yellow-light .button,.border-yellow-light .tab-nav li a,.border-yellow-light .tab-body,.button.bg-yellow-light,.selected.border-yellow-light,.alert-yellow,.pointer.border-yellow-light li,.nav.border-yellow-light .active a,.nav.nav-tabs.border-yellow-light,.nav-main.border-yellow-light a, .nav-main.border-yellow-light .nav-head,.pagination.border-yellow-light li,.pager.border-yellow-light a
{border-color:#ffd;}
.border-blue-light,.border-blue-light .button,.border-blue-light .tab-nav li a,.border-blue-light .tab-body,.button.bg-blue-light,.selected.border-blue-light,.alert-blue,.pointer.border-blue-light li,.nav.border-blue-light .active a,.nav.nav-tabs.border-blue-light,.nav-main.border-blue-light a, .nav-main.border-blue-light .nav-head,.pagination.border-blue-light li,.pager.border-blue-light a
{border-color:#eff;}
.border-green-light,.border-green-light .button,.border-green-light .tab-nav li a,.border-green-light .tab-body,.button.bg-green-light,.selected.border-green-light,.alert-green,.pointer.border-green-light li,.nav.border-green-light .active a,.nav.nav-tabs.border-green-light,.nav-main.border-green-light a, .nav-main.border-green-light .nav-head,.pagination.border-green-light li,.pager.border-green-light a
{border-color:#efd;}


.text-main, a.text-main:link, a.text-main:visited,.button.border-main,blockquote.border-main strong,.pager.border-main a,.pager-prev.border-main,.pager-next.border-main,.nav a:hover,.nav-menu.nav-pills .active ul a:hover,.bg-inverse .nav-menu ul a:hover,.bg-inverse .nav.nav-menu.nav-tabs ul a:hover,.bg-inverse .nav.nav-menu.nav-tabs .active ul a:hover,.bg-inverse .nav.nav-menu.nav-pills ul a:hover,.bg-inverse .nav.nav-menu.nav-pills .active ul a:hover
{color:#0a8;}
.text-sub, a.text-sub:link, a.text-sub:visited,.button.border-sub,blockquote.border-sub strong,.pager.border-sub a,.pager-prev.border-sub,.pager-next.border-sub
{color:#0ae;}
.text-back, a.text-back:link, a.text-back:visited,.button.border-back,blockquote.border-back,.pager.border-back a,.pager-prev.border-back,.pager-next.border-back
{color:#efe;} 
.text-mix, a.text-mix:link, a.text-mix:visited,.button.border-mix,blockquote.border-mix,.pager.border-mix a,.pager-prev.border-mix,.pager-next.border-mix
{color:#aed;}
.text-dot, a.text-dot:link, a.text-dot:visited,.button.border-dot,blockquote.border-dot strong,.pager.border-dot a,.pager-prev.border-dot,.pager-next.border-dot
{color:#e33;}

.bg-main,.border-main .button.active,.pointer.border-main .active,.nav-pills.border-main .active a,.nav-main.border-main .nav-head,.pagination.border-main .active
{background-color:#0a8;}
.bg-sub,.border-sub .button.active,.pointer.border-sub .active,.nav-pills.border-sub .active a,.nav-main.border-sub .nav-head,.pagination.border-sub .active
{background-color:#0ae;}
.bg-back,.border-back .button.active,.pointer.border-back .active,.nav-pills.border-back .active a,.nav-main.border-back .nav-head,.pagination.border-back .active
{background-color:#efe;}
.bg-mix,.border-mix .button.active,.pointer.border-mix .active,.nav-pills.border-mix .active a,.pagination.border-mix .active
{background-color:#aed;}
.bg-dot,.border-dot .button.active,.pointer.border-dot .active,.nav-pills.border-dot .active a,.nav-main.border-dot .nav-head,.pagination.border-dot .active
{background-color:#e33;}

.border-main,.border-main .button,.border-main .tab-nav li a,.border-main .tab-body,.button.bg-main,.selected.border-main,.pointer.border-main li,.nav.border-main .active a,.nav.nav-tabs.border-main,.nav-main.border-main a, .nav-main.border-main .nav-head,.pagination.border-main li,.pager.border-main a
{border-color:#0a8;}
.border-sub,.border-sub .button,.border-sub .tab-nav li a,.border-sub .tab-body,.button.bg-sub,.selected.border-sub,.pointer.border-sub li,.nav.border-sub .active a,.nav.nav-tabs.border-sub,.nav-main.border-sub a, .nav-main.border-sub .nav-head,.pagination.border-sub li,.pager.border-sub a
{border-color:#0ae;}
.border-back,.border-back .button,.border-back .tab-nav li a,.border-back .tab-body,.button.bg-back,.selected.border-back,.pointer.border-back li,.nav.border-back .active a,.nav.nav-tabs.border-back,.nav-main.border-back a, .nav-main.border-back .nav-head,.pagination.border-back li,.pager.border-back a
{border-color:#efe;}
.border-mix,.border-mix .button,.border-mix .tab-nav li a,.border-mix .tab-body,.button.bg-mix,.selected.border-mix,.pointer.border-mix li,.nav.border-mix .active a,.nav.nav-tabs.border-mix,.nav-main.border-mix a, .nav-main.border-mix .nav-head,.pagination.border-mix li,.pager.border-mix a
{border-color:#aed;}
.border-dot,.border-dot .button,.border-dot .tab-nav li a,.border-dot .tab-body,.button.bg-dot,.selected.border-dot,.pointer.border-dot li,.nav.border-dot .active a,.nav.nav-tabs.border-dot,.nav-main.border-dot a, .nav-main.border-dot .nav-head,.pagination.border-dot li,.pager.border-dot a
{border-color:#e33;}

.button.border-main:hover,.button.border-main:focus,.button.bg-main:hover,.button.bg-main:focus
{color:#fff;border-color:#0ab;background-color:#0ab;}
.button.border-sub:hover,.button.border-sub:focus,.button.bg-sub:hover,.button.bg-sub:focus
{color:#fff;border-color:#09f;background-color:#09f;} 
.button.border-back:hover,.button.border-back:focus,.button.bg-back:hover,.button.bg-back:focus
{color:#333;border-color:#cec;background-color:#cec;} 
.button.border-mix:hover,.button.border-mix:focus,.button.bg-mix:hover,.button.bg-mix:focus
{color:#333;border-color:#cec;background-color:#cec;}
.button.border-dot:hover,.button.border-dot:focus,.button.bg-dot:hover,.button.bg-dot:focus
{color:#fff;border-color:#f00;background-color:#f00;}



.float-left{float:left !important;}
.float-right{float:right !important;}
.blank-10{height:10px;width:100%;}
.blank-20{height:20px;width:100%;}
.blank-30{height:30px;width:100%;}
.blank-40{height:40px;width:100%;}
.blank-50{height:50px;width:100%;}
.blank-60{height:60px;width:100%;}
.blank-100{height:100px;width:100%;}


.pub_list{ position: relative; display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-align: center; -webkit-align-items: center; align-items: center; }
.pub_list .pub_list_bd{ -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; }


