{include  file='public:header'/}
<div class="admin-main-bt">
    <ul>
        <li class="li1">会员</li>
        <li class="li2">会员管理</li>
        <li class="li2 li3">升级记录</li>
    </ul>
</div>
<div class="admin-main-js admin-main-sc">
    <p class="admin-attention"><span>注意：</span>升级记录qq联系:643434761 </p>
    <div class="admin-js-nr">
        <div class="admin-select-nr" style="margin-top:0px;border-top:none;">
            <div class="left">
            </div>
        </div>
        <form  target="x-frame" method="post">
            <div class="admin-table-box">
                <table bordercolor="#e1e6eb" cellspacing="0" width="100%" border="1px"  style="border-collapse:collapse;margin:0px;vertical-align:middle;background-color:#FFF;">
                    <tr>
                        <td class="w50"><input type="checkbox" class="checkAll" rel="log_id"/></td>
                        <td class="w50">ID</td>
                        <td>旧等级</td>
                        <td>新等级</td>
                        <td>会员ID</td>
                        <td>说明</td>
                        <td>时间</td>
                    </tr>
                    {foreach name="list" item="var"}
                        <tr>
                            <td><input class="child_log_id" type="checkbox" name="log_id[]" value="{$var.log_id}"/></td>
                            <td>{$var.log_id}</td>
                            <td>{$var.old_rank_name}</td>
                            <td>{$var['new_rank_name']}</td>
                            <td>{$var.user_id}</td>
                            <td>{$var['info']}</td>
                            <td>{$var.create_time|date='Y-m-d H:i:s',###}</td>
                        </tr>
                    {/foreach}
                </table>
                {$page}
            </div>
            <div class="admin-select-nr" style="margin-bottom:0px;border-bottom:none;">
                <div class="left">
                </div>
            </div>
        </form>
    </div>
</div>
{include  file='public:footer'/} 



