{include  file='public:header'}
<div class="admin-main-bt">
    <ul>
        <li class="li1">会员</li>
        <li class="li2">收货地址</li>
        <li class="li2 li3">得物列表</li>
    </ul>
</div>



<div class="admin-main-js admin-main-sc">
<p class="admin-attention"><span>注意：</span> 得物地址列表，因为不常用，基本是这几个固定的，所以需要添加请联系qq979249466获取最新数据库 </p>
    <div class="admin-js-nr">
        <div class="admin-select-nr" style="margin-top:0px;border-top:none;">
            <div class="left">
            </div>
            <div class="right">
                <form class="admin-search-form" method="post" action="{:url('express/dewu')}">
                    <div class="admin-sele-hidden" id="admin-sele-hidden">
                    <div class="admin-sele-k">
                        <span>关键字</span>
                        <input type="text" name="keyword" value="{$keyword}" class="admin-input-text"/><input type="submit" value=" 搜索"  class="admin-input-button"/>
                    </div> 
                    </div> 
                </form>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
            
    <form  target="x-frame" method="post">
        <div class="admin-table-box">
            <table bordercolor="#e1e6eb" cellspacing="0" width="100%" border="1px"  style="border-collapse:collapse;margin:0px;vertical-align:middle;background-color:#FFF;">
                <tr>
                    <td class="w50"><input type="checkbox" class="checkAll" rel="id"/></td>
                    <td class="w50">ID</td>
                    <td>类型</td>
                    <td>名称</td>
                    <td>电话</td>
                    <td>手机</td>
                    <td>地址</td>
                    <td>操作</td>
                </tr>
                {foreach name="list" item="var"}
                    <tr>
                        <td><input class="child_id" type="checkbox" name="id[]" value="{$var.id}"/></td>
                        <td>{$var.id}</td>
                        <td>
                        	{if condition="$var['type'] eq 1"}
                                得物仓
                            {/if}
                            {if condition="$var['type'] eq 2"}
                              品牌退货仓
                            {/if}
                        </td>    
                        <td>{$var.sender_name}</td>
                        <td>{$var.sender_phone}</td>
                        <td>{$var.sender_mobile}</td>
                        <td>{$var.sender_address}</td>
                        <td>
                            {:BA('express/dewu_delete',array("id"=>$var["id"]),'删除','act','admin-btn-default')}
                        </td>
                    </tr>
                {/foreach}
            </table>
            {$page}
        </div>
        <div class="admin-select-nr" style="margin-bottom:0px;border-bottom:none;">
            <div class="left">
                {:BA('express/dewu_delete','','批量删除','list',' a2')}
            </div>
        </div>
    </form>
</div>
</div>
{include  file='public:footer'} 


