{include  file='public:header'}
<div class="admin-main-bt">
    <ul>
        <li class="li1">快递</li>
        <li class="li2">订单</li>
        <li class="li2 li3">编辑订单</li>
    </ul>
</div>

    {:BA('express/edit',array("id"=>$detail["id"]),'刷新','','admin-btn-default')}
    {:BA('express/detail',array("id"=>$detail["id"]),'详情','','admin-btn-default')}
    {:BA('express/index','','返回','','admin-btn-default')}


    <form target="x-frame" action="{:url('express/edit',array('id'=>$detail['id']))}" method="post">
        <div class="admin-main-sc-add"  style="margin-top:20px">
        <div class="admin-table-box"> 
            <table bordercolor="#e1e6eb" cellspacing="0" width="100%" border="1px"  style="border-collapse:collapse;margin:0px;vertical-align:middle;background-color:#FFF;">
            
            	{include  file='express:operation'}
            
                <tr>
                    <td class="admin-table-left">运单号：</td>
                    <td class="admin-table-right"><input type="text" name="data[deliveryId]" value="{$detail.deliveryId|default=''}" class="admin-manage-input"/>
					<code>默认快递公司返回</code>
                    </td>
                </tr>
            
                <tr>
                    <td class="admin-table-left">订单状态：</td>
                    <td class="admin-table-right">
                        <select name="data[orderStatus]" class="admin-sele-Fl jq_type" style="display: inline-block;">
                            {foreach name="getorderStatus" key="key" item="item"}
                               <option {eq name="orderStatus" value="$key"}selected="selected"{/eq}  value="{$key}">{$item}</option>
                            {/foreach}
                        </select>
                        <code>订单状态</code>
                    </td>
                </tr>
    			<tr>
                    <td class="admin-table-left">快递员信息：</td>
                    <td class="admin-table-right"><input type="text" name="data[realOrderState]" value="{$detail.realOrderState|default=''}" class="admin-manage-input"/>
					<code>默认快递公司返回</code>
                    </td>
                </tr>
        		<tr>
                    <td class="admin-table-left">差价金额：</td>
                    <td class="admin-table-right"><input type="text" name="data[diffMoneyYuan]" value="{:round($detail['diffMoneyYuan']/100,2)}" class="admin-manage-input"/>
					<code>差价金额默认快递公司返回</code>
                    </td>
                </tr>
                <tr>
                    <td class="admin-table-left">差价状态：</td>
                    <td class="admin-table-right">
                        <select name="data[diffStatus]" class="admin-sele-Fl jq_type" style="display: inline-block;">
                            {volist name="getdiffStatus" id="var"} 
                                <option value="{$i}" {eq name="i" value="$detail.diffStatus"}selected="selected"{/eq}>{$var}</option>
                            {/volist}
                        </select>
                        <code>差价状态</code>
                    </td>
                </tr>
          
        
       
    </table>
   <div class="admin-small-qr"><input type="submit" value="确认编辑" class="admin-btn-small-quren"/></div>
</form>
</div>
</div>
{include  file='public:footer'}      
