<div class="listBox clfx">
    <div class="menuManage">
        <div class="admin-main-sc-add">
            <div class="admin-table-box">
                <table bordercolor="#e1e6eb" cellspacing="0" width="100%" border="1px"  style="border-collapse:collapse;margin:0px;vertical-align:middle;background-color:#FFF;">
					{volist name="list" id="vo"}
                        <tr>
                            <td class="admin-table-left">{$key}：</td>
                            <td class="admin-table-right">{$vo}</td>
                        </tr>
                    {/volist} 
                </table>
            </div>
        </div>
       
    </div>
</div>
