/*首页背景色*/
html{background-color: #fff;}
/*头部幻灯片部分*/
.banner{background-color: #f2f4f7;position: relative;}
.banner .wrapper {position: relative;}
.banner .wrapper .swiper-container {color: #fff;text-align: center;}
.banner .wrapper .swiper-container .slideshow-item {-webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;}
.banner .wrapper .swiper-wrapper img {display: block;}
.banner .wrapper .swiper-wrapper .slideinfo {display: none;}
.banner .wrapper .pagination {position: absolute;z-index: 20;left: 0;bottom: .1rem;width: 100%;}
.banner .wrapper .swiper-pagination-switch {display: inline-block;width: 0.12rem;height: 0.12rem;border-radius: 0.16rem;background: #555;margin-right: 5px;opacity: 0.8;border: 1px solid #fff;cursor: pointer;}
.banner .wrapper .swiper-active-switch {background: #fff;}
.banner .wrapper .swiper-dynamic-links {text-align: center;}
.banner .wrapper .swiper-pagination-bullet{opacity: 0.5;}
.banner .wrapper .swiper-pagination-bullet-active{width: .3rem!important;height:.06rem;border-radius: .03rem;background: #fff!important;opacity: 1!important;}
.banner .wrapper .swiper-pagination-bullet{width: .1rem;height: .06rem;background: #fff;opacity: .5; border-radius: .03rem;    transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 3px;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{text-align: center;}


/*顶部区域定位 扫一扫 搜索*/
.head-search-box{width: 100%; max-width: 10rem; margin: auto; position: absolute; top: .3rem; z-index: 2;}
.head-search{margin-left: .24rem; margin-right: .24rem; color: #fff; overflow: hidden;}
.areachose{float: left; }
.areachose span{font-size: .32rem; vertical-align: middle;}
.areachose s {display: inline-block !important; vertical-align: middle; border-right: 1px solid #fff; border-bottom: 1px solid #fff; width: .15rem; height: .15rem; transform: rotate(45deg); margin:0 0 .05rem .18rem ;}
.search-scan{ float: right;}
.search-scan i{display:inline-block; width: .4rem; height: .4rem; }
.search-scan i{ background-position: 0 0; background-repeat: no-repeat; background-size: cover;}
.search-scan .search{display: inline-block; margin-right: .34rem;}
.search-scan i:nth-child(1){background-image: url(/static/default/wap/new1/images/search.png);}
.search-scan i:nth-child(2){background-image: url(/static/default/wap/new1/images/scan.png);}
.wx_miniprogram .search-scan i:nth-child(1) {margin-right: 0;}
.wx_miniprogram .search-scan i:nth-child(2) {display: none;}

.tcInfo{ background-color: #fff; }
/*滑动导航&&便民查询*/
.tabMain{position: relative;overflow: hidden; margin-left:.24rem ; margin-right: .24rem; }
.tabMain ul{ overflow: hidden; margin-top: .1rem;padding-bottom: .15rem}
.tabMain li{  margin-top: .22rem; border-radius:.04rem ;}
.tabMain li{width: 20%;float: left;text-align: center;}
.tabMain li span{display: block;}
.tabMain li .icon-circle{width: .88rem; height: .88rem; margin: auto; padding-bottom: .08rem; }
.tabMain li .icon-circle img{width: 100%;display: block; height: 100%; }
.tabMain .swiper-pagination-bullet{width: .14rem!important;height: .14rem; border-radius: .07rem; background: #DFE1E8;opacity: 1;    transition: all .4s ease-in-out;-ms-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;-o-transition: all .3s ease-in-out;}
.tabMain .swiper-pagination-bullet-active{background: #FF5908!important;opacity: 1!important;}


.adv-box2{background: #fff;width: 100%;height: 1.6rem}


/*管理中心*/
.manageInfo-box{width: 100%; background-color: #fff;}
.manageInfo{width:7.02rem; margin: auto; }
.manageInfo ul{margin-left:0.1rem ; margin-right:.1rem ; padding-top: .2rem; display: -webkit-flex; display: flex; justify-content:space-between; }
.manageInfo ul li{display: block; width: 1.6rem; height: .8rem; background-color: #ccc; border-top-left-radius:.08rem; border-top-right-radius:.08rem; background-repeat: no-repeat; background-position: right bottom; }
.manageInfo ul li p{color: #fff; padding-top: .16rem; margin-left: 0.16rem; font-size: 0.26rem;}
.manageInfo ul li:nth-child(1){background-color: #f87e8d; background-image: url(/static/default/wap/new1/images/sign.png); background-size:.6rem .4rem ; background-position-x: .9rem !important;}
.manageInfo ul li:nth-child(2){background-color: #ffa669; background-image: url(/static/default/wap/new1/images/bag.png); background-size:.52rem .4rem ;}
.manageInfo ul li:nth-child(3){background-color: #49c7c3; background-image: url(/static/default/wap/new1/images/order.png); background-size:.42rem .42rem ;}
.manageInfo ul li:nth-child(4){background-color: #87a9ff; background-image: url(/static/default/wap/new1/images/fabu.png); background-size:.68rem .4rem ;}
.manageInfo ul li a{display: block; width: 100%; height: 100%;}


/*限时抢购、当地服务*/
.servericeall-box{  padding: .24rem;background: #fff }
.servericeall-box .deadline{background: #fff;width: 3.4rem;height: 2.5rem;box-shadow:0px 6px 30px 0px rgba(114,124,148,0.22);
border-radius:.1rem;padding: .17rem;box-sizing: border-box;}
.adv-box3{width: 3.4rem;}
.adv-box3 li{list-style: none;width: 3.4rem;height: 1.15rem;box-shadow:0px 6px 30px 0px rgba(114,124,148,0.22);border-radius: .1rem;overflow: hidden;}
.adv-box3 li img{border-radius: .1rem;}
.adv-box3 li .siteAdvObj{height: 1.15rem}
.adv-box3 li:first-child{margin-bottom: .2rem}
/*抢购*/
.deadline s{display: inline-block; width: 1.4rem; height: .4rem; background-image:url(/static/default/wap/new1/images/qgou.png); background-repeat: no-repeat; background-size: cover; vertical-align: middle; margin-right: .16rem;}
.deadline .deadline-show{display: inline-block;font-size: .24rem;color: #fff}
.deadline .deadline-show span{display: inline-block; text-align: center; vertical-align: middle; width: .34rem; height: .34rem; border-radius: .04rem; background-color: #FF4A49;line-height: .35rem  }
.deadline .deadline-show  i{ vertical-align: middle; margin-left: .06rem; margin-right: .06rem; font-size: .28rem;color: #FF4A49}
.deadline ul{font-size: 0;margin-top: .18rem;padding-left: .13rem}
.deadline ul li{display: inline-block;}
.deadline ul li:first-child{margin-right: .4rem}
.deadline ul li .q_img{width: 1.2rem;height: 1.2rem;}
.deadline ul li .q_img img{display: block;width: 100%;height: 100%;object-fit: cover}
.deadline ul li p{font-size: .26rem;color: #333;text-align: center;margin-top: .08rem}
.deadline ul li p em{font-size: .2rem;}


/*同城头条*/
.tcNews-box{width: 100%; padding-top: .14rem;  background-color: #fff;}
.tcNews{width: 7.02rem; margin: auto; padding-top: .2rem ; padding-bottom: .18rem;  overflow: hidden;}
.tcNews .news-icon{width: .8rem; height: .8rem; float: left;margin-left: .03rem;}
.tcNews .news-icon img{width: 100%;}
.tcNews .news-list{width: 5.7rem; float: left; font-size: .26rem; margin-left: .22rem;    overflow: hidden; color: #414B5F}
.tcNews .news-list p span{color: #FF5807; margin-right: .1rem;display: inline-block;padding: 0 .1rem;height: .36rem;line-height: .36rem;border-radius: .06rem;background: #FFF1EA;font-size: .24rem}
.tcNews .news-list p {text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.tcNews .news-list p:nth-child(1){margin-bottom: .1rem;}

.tcNews .news-list .swiper-wrapper{height: 1rem;}
/*本地商家 生活服务 便民黄页 */
.row-all{padding: .24rem .24rem .5rem}
.row-all ul{display: flex;justify-content: space-between;}
.row-all ul li{width: 2.22rem;height: 2.18rem;position: relative;border-radius: .1rem;overflow: hidden;border: none;background: red}
.row-all ul li a{display: block;padding: .25rem 0 0 .18rem;box-sizing: border-box;width: 100%;height: 100%;}
.row-all ul li:after{content: '';display: inline-block;position: absolute;right: 0;bottom: 0;}

.row-all ul li:first-child{background: url(/static/default/wap/new1/images/row-bg1.png) no-repeat center;background-size: 2.22rem 2.18rem;
box-shadow:0px 5px 21px 0px rgba(52,35,140,0.38);}
.row-all ul li:nth-child(2){background: url(/static/default/wap/new1/images/row-bg2.png) no-repeat center;background-size: 2.22rem 2.18rem;
box-shadow:0px 5px 21px 0px rgba(46,79,188,0.38);}
.row-all ul li:last-child{background: url(/static/default/wap/new1/images/row-bg3.png) no-repeat center;background-size: 2.22rem 2.18rem;
box-shadow:0px 5px 21px 0px rgba(182,57,20,0.38);}

.row-all ul li h2{font-size: .32rem;color: #fff;font-weight: bold;}
.row-all ul li p{font-size: .24rem;color: #fff;margin-top: .08rem}
.row-all ul li p strong{font-size: .4rem;}
.row-all ul li h3{display: inline-block;padding: 0 .17rem;height: .44rem;line-height: .44rem;border-radius: .02rem;font-size: .28rem;color: #543CBD;margin-top: .2rem;background: #fff}
.row-all ul li:nth-child(2) h3{color: #3344C2}
.row-all ul li:last-child h3{color: #EB563E}

/*公共标题*/
.com-title{}
.com-title h2{font-size: .42rem;font-weight: bold;color: #222;display: inline-block;}
.com-title span{float: right;font-size: .26rem;color: #999;margin-top: .1rem}
.com-title span i{display: inline-block;width: .3rem;height: .3rem;background: url(/static/default/wap/new1/images/more-arr.png) no-repeat center;background-size: .3rem .3rem;vertical-align: middle;margin-top: -.07rem;}
/*热门话题*/
.hot-talk{padding: .1rem 0 0 0}
.hot-talk .com-title{padding-right: .15rem;padding-left: .24rem}
.hot-con{width: 100%;overflow: hidden;overflow-x: auto;padding-left: .24rem;box-sizing: border-box;padding-top: .1rem;padding-bottom: .34rem;}
.hot-con::-webkit-scrollbar {display: none;}
.hot-con ul{font-size: 0;width: 18rem;position: relative;}

@keyframes dmAnimation2{ 
    0% { transform: translateX(0); } 
    100% { transform: translateX(-70%); } 
}
@-webkit-keyframes dmAnimation2{ 
    0% { transform: translateX(0); } 
    100% { transform: translateX(-70%); } 
}
.hot-con li{margin-top: .18rem;box-shadow:0px 3px 22px 0px rgba(65,64,83,0.08);border-radius:.06rem;margin-right: .2rem;padding: .13rem .15rem;display: inline-block;}
.hot-con li a{display: block;}
.hot-con li .hot-tip{display: inline-block;width: .36rem;height: .36rem;line-height: .36rem;border-radius: .12rem;margin-right: .1rem;overflow: hidden;vertical-align: top;margin-top: .05rem;font-size: .24rem;color: #fff;text-align: center;}
.hot-con li .hot-tip.hot{background:linear-gradient(0deg,rgba(252,164,49,1) 0%,rgba(255,187,47,1) 100%); }
.hot-con li .hot-tip.jin_grey{background:linear-gradient(0deg,rgba(225,225,225,1) 0%,rgba(228,228,228,1) 100%); color: #999;font-size: .3rem}
.hot-con li .hot-tip.new_blue{background:linear-gradient(0deg,rgba(61,129,255,1) 0%,rgba(41,141,255,1) 100%);}
.hot-con li span.hot-txt{display: inline-block;font-size: .3rem}
/*广告*/
.recommend-box{overflow: hidden; padding: .26rem .24rem .3rem }
.recommend-box li{width: 1.84rem;border-radius: .1rem;overflow: hidden;list-style: none}
.recommend-box li:nth-child(1){ width: 4.98rem;height:2.85rem ; float: left; margin-right: .2rem;}
.recommend-box li:nth-child(2){margin-bottom: .2rem;}
.recommend-box li:nth-child(2),.recommend-box li:nth-child(3){height: 1.32rem; float: left;}
.recommend-box img{display: block; width: 100%;border-radius: .1rem;}

/*便民查询*/
.convenience{padding:.2rem .24rem .28rem;margin-bottom:.1rem;box-sizing: border-box;}
.convenience h3{font-size: .36rem;text-align: center;font-weight:600; background-size: 60% 100%;line-height: .7rem;}
.convenience h3 i{width: 1.2rem; height: .3rem; display: inline-block; background-image: url(/static/default/wap/new1/images/srvice.png); background-repeat: no-repeat; background-size: contain; margin-left: .1rem; vertical-align: middle;}
.convenience ul{background: #fff;box-shadow:0px 6px 30px 0px rgba(114,124,148,0.22);border-radius:.12rem;margin-top: .34rem;padding: .3rem 0 .15rem}
.convenience li{width: 20%;float: left;text-align: center;margin-bottom: .3rem}
.convenience li:active {background: #f2f2f2; border-radius: 4px;}
.convenience li a{display: block;}
.convenience li span.icon-circle{display: block;margin: 0 auto;padding-top: .1rem; padding-bottom: .1rem;}
.convenience li span.icon-txt{font-size: .26rem;display: block;margin-top:-.04rem;}
.convenience li span img{display: block;width: .9rem;height: .9rem;margin: 0 auto;}
/*交友*/
.jiaoyou-online{padding: .2rem .24rem .4rem }
.dating_con{margin-top: .34rem;}
.jiaoyou,.dating_con .hn{float: left;box-shadow:0px 6px 30px 0px rgba(114,124,148,0.22);border-radius:.1rem;padding: .22rem .2rem 0;width: 3.35rem;height: 1.7rem;box-sizing: border-box;}
.jiaoyou{margin-right: .27rem}
.jiaoyou a,.dating_con .hn a{display: block;}
.dating_con h3{ font-weight: bold; color: #222; font-size: .3rem;line-height: 1}

.jiaoyou-headicon{margin-top: .22rem; position: relative;}
.jiaoyou-headicon .head-icon{position: relative; width: 1.98rem; display: block; float: left; height: .7rem;}
.jiaoyou-headicon .head-icon li{width: .7rem; height: .7rem; border-radius: 50%; overflow: hidden; position: absolute;border: 1px solid #fff;box-sizing: border-box; box-shadow: 0px 5px 27px 0px rgba(159, 159, 159, 0.52);}
.jiaoyou-headicon .head-icon li img{display: block;border: none;width: 100%;}
.jiaoyou-headicon .head-icon li:nth-child(1){left: 0; top: 0;}
.jiaoyou-headicon .head-icon li:nth-child(2){left: .47rem;}
.jiaoyou-headicon .head-icon li:nth-child(3){left: .93rem;}
.jiaoyou-headicon .head-icon li:nth-child(4){left: 1.33rem;}

.dating_con .hn .hn-info{margin-top:.25rem;border-radius: .3rem;background: #FF5E68 ;padding: .02rem .23rem .02rem .02rem;height: .6rem;box-sizing: border-box;}
.dating_con .hn .hn_img{width: .56rem;height: .56rem;border-radius: 50%;float: left;overflow: hidden;}
.dating_con .hn .hn_img img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
.dating_con .hn .hn_txt{margin-left: .65rem;max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: .24rem;color: #FFFEFE;line-height: .56rem}

.more {width: 1.3rem; height: .7rem;  border-radius:.35rem 0 0 .35rem;position: absolute;right: -.2rem;    overflow: hidden;}
.more i{display: block; width: 100%; height: 100%;  background: url(/static/default/wap/new1/images/dating-more.png) no-repeat center;background-size: 1.3rem .7rem;}
/*视频直播*/
.live_wrap{padding: .15rem .24rem .1rem}
.live_wrap a{display: block;padding: .43rem .23rem 0;height: 1.9rem;box-sizing: border-box;background: url(/static/default/wap/new1/images/live-bg.png) no-repeat center;background-size: 100% 1.9rem;}
.live_wrap h1{font-size: .42rem;color: #341ED3;font-weight: bold;}
.live_wrap p{display: inline-block;font-size: .24rem;color: #fff; height:.44rem;background:linear-gradient(90deg,rgba(70,114,255,1) 0%,rgba(95,72,255,1) 100%);border-radius:.22rem;line-height: .44rem;padding: 0 .23rem 0 .18rem;margin-top: .13rem}
.live_wrap p span{display: inline-block;margin-right: .07rem}
.live_wrap p i{display: inline-block;width: .17rem;height: .2rem;background: url(/static/default/wap/new1/images/live.png) no-repeat center;background-size: .17rem .2rem;}

/*同城活动*/
.tc-activity-box{padding: .45rem 0 0 .24rem;position: relative;min-height: 4rem}
.tc-activity-box:after{content: '';display: block;position: absolute;left: 0;bottom: .06rem;width: 1.07rem;height: 3.58rem;background: url(/static/default/wap/new1/images/circle.png) no-repeat center;background-size: 1.07rem 3.58rem;}
.tc-activity-box .com-title{padding-right:.24rem}

.tc-activity {margin-top: .4rem;position: relative;padding-bottom: .64rem}
.tc-activity .activity:first-child{margin-left: .06rem}
.activity{margin-left: .2rem; width: 3.2rem !important; border-radius: .1rem;  overflow: hidden; box-shadow:0px 6px 30px 0px rgba(114,124,148,0.22);  box-sizing: border-box;background: #fff}
.activity a{display: block; }
.activity .act-img{width: 3.2rem;height: 1.85rem;  position: relative; overflow: hidden;}
.activity .act-img img{width: 100%; display: block; border: none;}
.act-info {width: 3.2rem; height: 1.22rem; background-color: #fff; overflow: hidden;position: relative;box-sizing: border-box;padding: .15rem .2rem .18rem}
.act-info p.act-name{font-size: .3rem;color: #222;font-weight: bold;max-width: 2.62rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.act-info p.act-time{font-size: .24rem;color: #9FA4B4;margin-top: .15rem;line-height: 1}


  /*推荐商家*/
.business-list-box{background-color: #fff; }
.tit_ul{padding-left: .24rem;padding-right: .15rem}
.tit_ul ul{display: inline-block;overflow: hidden;overflow-x: auto;white-space: nowrap;position: relative;width: 6.5rem;height: .7rem}

.tit_ul ul::-webkit-scrollbar {display: none;}
.tit_ul a.bus_a{float: right;display: block;}
.tit_ul i{display: inline-block;width: .48rem;height: .48rem;background: url(/static/default/wap/new1/images/more-module.png) no-repeat center;background-size: .48rem .48rem;position: relative;margin-top: .1rem}
.tit_ul i:before{content: ''; display: block; width: .42rem; height: .8rem; position: absolute; left: -.48rem; top: 0;
background: -webkit-linear-gradient(left, rgba(255,255,255,0) , #fff);
  background: -o-linear-gradient(right, rgba(255,255,255,0 ), #fff);
  background: -moz-linear-gradient(right, rgba(255,255,255,0 ), #fff);
  background: linear-gradient(to right, rgba(255,255,255,0 ) , #fff);}
.tit_ul ul li{font-size: .3rem;color: #222;margin-right: .5rem;display: inline-block;position: relative;padding-bottom: .09rem}
.tit_ul ul li.active{font-size: .42rem;font-weight: bold;}
.tit_ul ul li.active:after{content: '';display: block;position: absolute;bottom: 0;left: 50%;margin-left: -.15rem;width: .3rem;height: .08rem;background: #FF5908;border-radius: .04rem;}
.business-list-box ul{width: 100%;margin-top: .3rem;margin-left: .24rem;padding-bottom: .67rem}
.business-list-box li{ position: relative;box-shadow:0px 6px 30px 0px rgba(114,124,148,0.22);border-radius:.1rem;float: left;width: 2.22rem;margin-right: .2rem}
.business-list-box li a{display: block;}
.business-list-box li>:active,.job-list-box li:active,.house-list-box li:active,.info-list-box li:active,.tabMain li:active{background-color: #f2f2f2;}
.business-img{width:100% ; height: 2.08rem; overflow: hidden;  position: relative;border-radius:.1rem .1rem 0 0;}
.business-img img{width: 100%;height: 100%;object-fit: cover;}
.business-list-box li p{font-size: .28rem; color: #1C1920;max-width: 100%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;padding: .22rem .15rem;box-sizing: border-box;text-align: center;}
/*贴吧社区*/
.tieba_wrap{padding-left:.24rem ;padding-bottom: .46rem}
.tieba_wrap .com-title{padding-right: .15rem}
/*.tieba_con ul{margin-top: .25rem;overflow: hidden;overflow-x: auto;white-space: nowrap;font-size: 0}
.tieba_con ul::-webkit-scrollbar {display: none;}*/
.tieba_con{margin-top: .25rem;}
.tieba_con .tiezi{display: inline-block;margin-right: .2rem;background: #F5F6FE;position: relative;border-radius: .1rem;width: 6.6rem!important;box-sizing: border-box;height: 2.78rem;vertical-align: top;}
.tieba_con .tiezi:after{content: '';display: block;position: absolute;right: .1rem;bottom: .1rem;width: 1.4rem;height: 1.4rem;background: url(/static/default/wap/new1/images/tie-icon3.png) no-repeat center;background-size: 1.4rem;}
.tieba_con .tiezi:nth-child(2n):after{background: url(/static/default/wap/new1/images/tie-icon33.png) no-repeat center;background-size: 1.4rem;}
.tieba_con .tiezi:nth-child(2n){background: #FFF8EB}
.tieba_con .tiezi a{display: block;padding: .3rem .13rem .25rem .33rem;}
.tieba_con .tie_top i{display: inline-block;width: .36rem;height: .36rem;background: url(/static/default/wap/new1/images/tie-icon1.png) no-repeat center;background-size: .36rem;margin-right: .04rem;vertical-align: top}
.tieba_con .tiezi:nth-child(2n) .tie_top i{background: url(/static/default/wap/new1/images/tie-icon11.png) no-repeat center;background-size: .36rem;}
.tieba_con .tie_top strong{font-size: .26rem;color: #7C7C94}
.tieba_con .tiezi:nth-child(2n) .tie_top strong{color: #919198;}
.tieba_con .tie_top s{float: right;display: inline-block;width: .3rem;height: .3rem;background: url(/static/default/wap/new1/images/tie-more.png) no-repeat center;background-size: .3rem;    margin-top: .03rem;}
.tieba_con p{font-size: .32rem;color: #313132;font-weight: bold;line-height: .4rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;white-space: normal;margin-top: .18rem;max-width: 5.2rem}
.tieba_con .tie_bot{position: absolute;bottom: .25rem;left: .36rem}
.tieba_con .tie_bot i{display: inline-block;width: .48rem;height: .48rem;background: url(/static/default/wap/new1/images/tie-icon2.png) no-repeat center;background-size: .48rem;margin-right: .1rem;vertical-align: middle;margin-top: -.08rem;}
.tieba_con .tiezi:nth-child(2n) .tie_bot i{background: url(/static/default/wap/new1/images/tie-icon22.png) no-repeat center;background-size: .48rem;}
.tieba_con .tie_bot span{font-size: .26rem;color: #7C7C94;  display: inline-block;}
/*求职招聘*/
.job-box{padding: .18rem .24rem .37rem}
.job-block ul{padding: .4rem 0}
.job-block li{width: 2.2rem;height: 1.06rem;font-size: .32rem;color: #fff;font-weight: bold;text-align: center;line-height: 1.05rem;border-radius: .1rem;float: left;margin-right: .2rem;position: relative;}
.job-block li.job-meeting{
box-shadow:0px 6px 30px 0px rgba(0,200,139,0.41);}
.job-block li.lookenterprise{
box-shadow:0px 6px 30px 0px rgba(245,75,46,0.41);}
.job-block li.looktalent{margin-right: 0;
box-shadow:0px 6px 30px 0px rgba(48,41,253,0.31);}
.job-block li a{display: block;color: #fff;width: 100%;height: 100%;z-index: 2;position: relative;}
.job-block li.job-meeting{background: url(/static/default/wap/new1/images/bg-jobmeet.png) no-repeat center;background-size:2.2rem 1.06rem;}
.job-block li.lookenterprise{background: url(/static/default/wap/new1/images/bg-enterise.png) no-repeat center;background-size:2.2rem 1.06rem;}
.job-block li.looktalent{background: url(/static/default/wap/new1/images/bg-talent.png) no-repeat center;background-size:2.2rem 1.06rem;}

/*招聘列表*/

.job-list{display: block; list-style: none; background-color: #fff; margin-bottom: .2rem;box-shadow:0px 6px 30px 0px rgba(114,124,148,0.22);
border-radius:8px;}
.job-top .job-name{max-width: 5.62rem;}
.job-top .for-margin{ margin-left: .24rem; margin-right: .24rem;}
.job-name span{display: inline-block;  overflow: hidden;text-overflow: ellipsis; white-space: nowrap;font-size: .3rem; vertical-align: middle;font-weight: bold;max-width: 4rem}
.job-name label{display: inline-block; width: .76rem; height: .28rem; border-radius: .04rem; background-color: #00c192; font-size: .2rem; color: #fff; text-align: center; vertical-align: middle;}
.job-top i{display: block; width: .72rem; height: .72rem; background-image: url(/static/default/wap/new1/images/top.png); background-size: cover; background-position: left top; background-repeat: no-repeat; position: absolute; top: 0; right: 0;}

.job-need{margin-top: .2rem; margin-bottom: .24rem; overflow: hidden;font-size: .24rem;color: #666}
.job-need em{color: #DDDDDD;padding: 0 .1rem}
.job-need b.news-state{float: right; font-weight: normal;margin-top: .09rem}
.welfare{font-size: 0;margin-bottom: .2rem;height: .36rem;overflow:hidden;}
.welfare span{display: inline-block;padding: 0 .14rem;height: .36rem;line-height: .36rem;border-radius: .04rem;background: rgba(120,130,155,.1);font-size: .22rem;color: #B2B7C5;margin-right: .1rem}
.job-label label{display: inline-block; width: 1.2rem; height: .4rem; line-height: .4rem; border-radius: .04rem ; background-color: #f2f7fa; color: #999999; font-size: .22rem; text-align: center;}
.job-label{margin-bottom: .3rem;}
.price-area{color: #FF595A; font-size: .36rem;  float: right;font-weight: bold;}
.price-area em{font-size: .24rem;font-weight: bold;}

.go_job{display: block; padding-top: .2rem;border-bottom: solid 1px #eee ; margin-bottom: .2rem;}
.go_job>.for-margin{margin-left: .2rem; margin-right: .2rem; overflow: hidden;  }
/*.job-top a:active,.job-list a:active{background-color: #f2f2f2 !important;}*/
/*招聘企业信息*/
.enterise-info{width: 100%;  padding-bottom: .3rem;}
.enterise-info a{display: block;position: relative; padding: 0 .2rem}
.enterise-logo{width: .9rem; height: .9rem;  float: left; box-shadow: 0px 6px 21px 0px rgba(65, 64, 83, 0.15);}
.enterise-logo img{width: 100%;height: 100%;object-fit: cover;border-radius: .08rem;}
.enterise-info-detail{position: relative; margin-left: 1.1rem;height: .9rem}
.enterise-info-detail h3{font-size: .3rem; font-weight: bold;margin-top: .05rem; max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.enterise-info-detail p{font-size: .24rem; color: #999; margin-top: .1rem;    max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.enterise-info s{display:inline-block; width: .15rem; height: .15rem; border-top: solid 1px #949494; border-right: solid 1px #949494;  transform: rotate(45deg); position: absolute; right: .24rem; top: .24rem;}
/*家装市场*/
.jiazhuang-box{padding: 0 .24rem;}
.jiazhuang{width: 100%;height: 1.9rem;}
.jiazhuang a{display: block;  }
.jiazhuang img{width: 100%;height: 1.9rem;}

/*公共样式*/
.pub-style{width: 100%; height: 1.3rem;  background-size: cover; position: relative; }
.pub-style h3{width: 2.1rem; height: .72rem; line-height: .72rem; position: absolute; left: 0; top:-.3rem ; color: #fff; font-size: .36rem; border-top-right-radius: .37rem; text-align:center; }
.pub-style p{position: absolute; right: 0; top:.3rem ;width: 3rem; height: .6rem; background-color: rgba(255,255,255,.67); text-align: center; border-top-left-radius: .3rem;  border-bottom-left-radius: .3rem; line-height: .6rem; font-size: .28rem; color: #5e5e5e;}

.look-more{background-color: #F0F1F2;margin-top: .3rem;height: .68rem;line-height: .7rem;border-radius: .08rem;}
.look-more a{display: block;font-size: .24rem;color: #A1A8BC;text-align: center;}
.look-more i{display: inline-block;width: .2rem;height: .2rem;background: url(/static/default/wap/new1/images/job-more.png) no-repeat center;background-size: .2rem;margin-left: .02rem;vertical-align: middle;margin-top: -.06rem}
/*列表公共样式*/
.pub-list-style{color: #a0a0a0; font-size: .24rem;}
/*出租房源*/
.house-resource{padding-left: .24rem;padding-bottom: .27rem}
.house-resource .com-title{padding-right: .15rem}
.house_tab ul{margin-top: .4rem;overflow: hidden;overflow-x: auto;white-space: nowrap;font-size: 0;padding-bottom: .02rem}
.house_tab ul::-webkit-scrollbar {display: none;}
.house_tab li{display: inline-block;margin-right: .16rem;height: .56rem;line-height: .58rem;border-radius: .28rem;background: #EDEEF1;font-size: .24rem}
.house_tab li a{display: block;color: #A1A8BC;padding: 0 .35rem;}

/*房源列表*/
.house-list-box{padding-right: .24rem}
.house-list-box ul{padding-top: .24rem}
.house-list-box ul li{box-shadow:0px 6px 30px 0px rgba(114,124,148,0.22);border-radius:.08rem;margin-bottom: .2rem; }
.house-list-box ul li a{display: block;padding:.2rem}
.house-img{width: 2rem; height: 1.5rem; float: left;}
.house-img img{width: 100%;height: 100%;object-fit: cover;border-radius: .08rem}
.house-info{margin-left: 2.16rem; height: 1.5rem}
.house-info .house-detail{font-size: .32rem; color: #333;width:4rem; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.house-info p.price_p{overflow: hidden; margin-top: .1rem;}

.house-spec{float: left; font-size: .24rem; color: #666;}
.house-spec em{color: #ddd;padding: 0 .1rem}
.house-price{float: right; font-size: .36rem; color: #FF595A;}
.house-price em{font-size: .24rem}
.house-distance{margin-top: .2rem;font-size: .22rem;color: #999}
.house-distance b{float: right;font-weight: normal;}
/*分类信息*/
.classify-info{padding: .6rem 0 1.4rem}
.classify-info .com-title{padding-left:.24rem;padding-right: .15rem}
.info-list-box ul{padding: .4rem .24rem 0;}
.info-list-box ul li{padding: .25rem .18rem .4rem;position: relative;box-shadow:0px 6px 30px 0px rgba(114,124,148,0.22);
border-radius:.08rem;margin-bottom: .2rem}
.info-list-box ul li:active{background: #f8f8f8;}
.info-list-box ul li .userimg{width: .8rem;height: .8rem;border-radius: 50%;overflow: hidden;float: left;background: #ccc;}
.info-list-box ul li .userimg img{width: 100%;height: 100%;}
.info-list-box ul li .info_r{margin-left: 1rem;}
.info-list-box ul li .info_r h4{font-size: .28rem;color: #111112;font-weight: bold;margin-bottom: .2rem;height: .4rem;width:100%;overflow: hidden;line-height: .4rem;}
.info-list-box ul li .info_r h4 span{max-width: 2.8rem;overflow: hidden;height: .4rem;}
.info-list-box ul li .info_r h4 p.name{max-width: 3.5rem;float: left;overflow: hidden;}
.info-list-box ul li .info_r h4 i.panel_tab{display: inline-block;padding:0 .06rem;height:.3rem;line-height:.3rem;position:relative;bottom:.04rem;font-size:.2rem;color:#5E97FF;font-weight:600;background:rgba(217,230,255,1);border-radius:.02rem;margin-left: .05rem;}
.info-list-box ul li .info_r h4 i.com_tab{display: inline-block;width: .28rem;height: .32rem;background: url("/static/default/wap/new1/images/icon_com.png") no-repeat;background-size: contain;margin-bottom: -.04rem;}
.info-list-box ul li .info_r h4 .price{font-size: .3rem;color: #FF653B;}
.info-list-box ul li .info_r h4 .price i{font-size: .24rem;}
.info-list-box ul li .info_r p.con i.top_tab{display: inline-block;width: .6rem;height: .3rem;background: url("/static/default/wap/new1/images/top_tab.png") no-repeat;background-size: contain;margin-right: .2rem;margin-bottom: -.04rem;}
.info-list-box ul li .info_r p.con{font-size: .3rem;color: #39393B;  line-height:.42rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;margin-bottom: .2rem;}
.info-list-box ul li .info_r p.con span.type{color: #5B71AB;}
.info-list-box ul li .info_r p.con a{color: #5B71AB;}
.info-list-box ul li .info_r .img-box{display: inline-block;}
.info-list-box ul li .info_r .img-box .img_item{display: inline-block;width: 1.64rem;height: 1.64rem;margin-right: .13rem;margin-bottom: .15rem;position: relative;background: #a6a6a6;overflow: hidden}
.info-list-box ul li .info_r .img-box .img_item img{width: 100%;height: 100%;object-fit: cover;}
.info-list-box ul li .info_r .img-box .img_item:last-child i{display: inline-block;width: 1.64rem;height: 1.64rem;position: absolute;top: 0;left: 0;z-index: 2;background: rgba(0,0,0,0.57);font-size: .36rem;font-weight: bold;color: #fff;text-align: center;line-height: 1.64rem;}

.info-list-box ul li .info_r .video-box{width: 5.16rem;height: 3.10rem;overflow: hidden;position: relative;margin-bottom: .15rem;}
.info-list-box ul li .info_r .video-box img{width: 100%;max-height: 100%;object-fit: cover;}
.info-list-box ul li .info_r .video-box i.play{display: inline-block;width: .8rem;height: .8rem;background: url("/static/default/wap/new1/images/play.png") no-repeat;background-size: contain;position: absolute;z-index: 2;top: 50%;left: 50%;transform: translate(-50%,-50%)}

.info-list-box ul li .info_r p.area{font-size: .24rem;color: #5B71AB;margin-top: .1rem;}
.info-list-box ul li .info_r p.area a{color: #5B71AB;}
.info-list-box ul li .info_r p.area i.icon_area{display:inline-block;width:.18rem;height:.23rem;background: url("/static/default/wap/new1/images/icon_area.png")no-repeat;background-size: contain;margin: 0 .08rem -.02rem 0;}



.look-more.info-more{margin-left: .24rem;margin-right: .24rem}
/*loading*/
.loading{width: 100%; height: 1rem; line-height: 1rem; text-align: center; border: 0;font-size: .28rem}

.gotop{position: fixed; bottom: 2.5rem; right: .3rem; width: 1rem; height: 1rem; z-index: 209; display: none;-webkit-animation: twinkling .3s ease-in-out;; -moz-animation: twinkling .3s ease-in-out;; animation: twinkling .3s ease-in-out;}
.gotop img{display: block; width: 100%; height: 100%; }

/* iPhoneX适配 */
.gotop{
  bottom: calc(2.5rem + constant(safe-area-inset-bottom));
  bottom: calc(2.5rem + env(safe-area-inset-bottom));
}

.wechat-fix{position: fixed; bottom: 1.5rem; right: .3rem; width: 1rem; height: 1rem; z-index: 209;display: none;-webkit-animation: twinkling .3s ease-in-out;; -moz-animation: twinkling .3s ease-in-out;; animation: twinkling .3s ease-in-out;}
.wechat-fix img{display: block; width: 100%; height: 100%; }

.wechat-fix{
    bottom: calc(1.5rem + constant(safe-area-inset-bottom));
    bottom: calc(1.5rem + env(safe-area-inset-bottom));
}

/* CSS 特效 */
@-webkit-keyframes twinkling{0%{opacity:.5}100%{opacity:.8}}
@-moz-keyframes twinkling{0%{opacity:.5}100%{opacity:.8}}
@keyframes twinkling{0%{opacity:.5}100%{opacity:.8}}


/* 浏览器端扫码提示 */
.wechat-popup {position: fixed; width: 6.8rem; top: calc(50% - 3rem); left: calc(50% - 3.4rem); z-index: 99999; visibility: hidden;}
.wechat-popup:before {position: fixed; z-index: 1; display: block; content: ''; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);}
.wechat-popup .con {display: -webkit-box; position: relative; z-index: 2; padding: 50px 10px 20px; background: #fff; -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out;}
.wechat-popup .close {position: absolute; right: .2rem; top: .2rem; width: .5rem; height: .5rem; border: 1px solid #dcdcdc; border-radius: 50%; line-height: .4rem; text-align: center; color: #dcdcdc; font-size: .5rem; font-weight: 100;}
.wechat-popup dl {-webkit-box-flex: 1; text-align: center; margin: 0 5px;}
.wechat-popup dl img {width: 94%; height: 94%; max-width: 3rem; max-height: 3rem; margin: 0 auto; padding: 3%; border: 1px solid #eee; display: block;}
.wechat-popup dd {line-height: 1.5em; padding-top: 5px;}

/* 浏览器端扫码提示 */
.downloadAppFixed {position: fixed; width: 5.6rem; top: calc(50% - 3rem); left: calc(50% - 2.8rem); z-index: 99999; visibility: hidden;}
.downloadAppFixed:before {position: fixed; z-index: 1; display: block; content: ''; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);}
.downloadAppFixed .con {display: none; position: relative; z-index: 2; padding: 20px 10px; background: #fff; -webkit-animation: topFadeIn .3s ease-out; -moz-animation: topFadeIn .3s ease-out; animation: topFadeIn .3s ease-out;}
.downloadAppFixed .close {position: absolute; right: -.25rem; top: -.25rem; width: .5rem; height: .5rem; background: #53aaf8; border-radius: 50%; line-height: .4rem; text-align: center; color: #fff; font-size: .5rem; font-weight: 100;}
.downloadAppFixed .app {border-bottom: 1px solid #eee; padding-bottom: .2rem;}
.downloadAppFixed .app dt, .downloadAppFixed .app dt img {width: .9rem; height: .9rem; display: block;}
.downloadAppFixed .app dt {float: left;}
.downloadAppFixed .app dd {position: relative; overflow: hidden; padding: .07rem .4rem 0 .2rem;}
.downloadAppFixed .app dd h3 {font-weight: 600; font-size: .32rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.downloadAppFixed .app dd p {font-size: .24rem;}
.downloadAppFixed .app dd:after {position: absolute; display: block; content: ''; width: .2rem; height: .2rem; right: .1rem; top: calc(50% - .05rem); border-top: 1px solid #bdbdbd; border-right: 1px solid #bdbdbd; transform:rotate(45deg);}
.downloadAppFixed .weixin img {width: 3.5rem; height: 3.5rem; display: block; margin: .2rem auto 0;}
.downloadAppFixed .weixin ul {padding-left: 1rem;}
.downloadAppFixed .weixin ul li {font-size: .24rem; list-style: disc; text-indent: -5px; color: #333;}


/*导航占位*/
.tabMain{padding-bottom: .1rem;}
.tabMain li.pl_h{ width: 20%;  margin: .2rem 0; text-align: center;}
.tabMain li.pl_h span{display: inline-block; width: 1rem; height: 1rem; border-radius: .5rem; background-color: #f2f4f7;}
/*头条占位*/
.tcNews .pl_h div{height: .32rem; background-color: #f2f4f7;}
.tcNews .pl_h .pl_h_l{width: 5.4rem; margin-bottom: .2rem;}
.tcNews .pl_h .pl_h_r{width: 4.8rem;}
/*活动占位*/
.tc-activity .activity-pl_h{height: 3.07rem;background-color: #f2f4f7;box-shadow: none}
/*贴吧占位*/
.tieba_con .tie-pl_h{height: 2.78rem;background-color: #f2f4f7!important;box-shadow: none}
.tieba_con .tie-pl_h:after{display: none;}
/*商家占位*/
.business-list-box .bus-pl_h{height: 2.8rem;background-color: #f2f4f7;box-shadow: none}
/*话题占位*/
.hot-con .hot-pl_h{background-color: #f2f4f7;height: .36rem;box-shadow: none}
.fir_ul .hot-pl_h.hot-pl_h1{width: 2.5rem;}
.fir_ul .hot-pl_h.hot-pl_h2{width: 2rem;}
.fir_ul .hot-pl_h.hot-pl_h3{width: 1.5rem;}
.sec_ul .hot-pl_h.hot-pl_h1{width: 1.96rem;}
.sec_ul .hot-pl_h.hot-pl_h2{width: 2.58rem;}
.sec_ul .hot-pl_h.hot-pl_h3{width: 1.5rem;}
.th_ul .hot-pl_h.hot-pl_h1{width: 3.23rem;}
.th_ul .hot-pl_h.hot-pl_h2{width: 2.27rem;}
.th_ul .hot-pl_h.hot-pl_h3{width: 1.5rem;}