<div class="listBox clfx">
    <div class="menuManage">
        <form  target="x-frame" action="{:url('menu/create')}" method="post">
            <div class="admin-main-sc-add">
                <div class="admin-table-box">
                    <table bordercolor="#e1e6eb" cellspacing="0" width="100%" border="1px"  style="border-collapse:collapse;margin:0px;vertical-align:middle;background-color:#FFF;">
                        <tr>
                            <td class="admin-table-left">上级菜单：</td>
                            <td class="admin-table-right">
                                <select name="data[parent_id]" class="admin-sele-Fl w200">
                                    <option value="0">一级菜单</option>
                                    {foreach name="datas" item="var"}
                                        {if condition="($var.parent_id eq 0)"}  
                                            <option value="{$var.menu_id}"   {eq name="var.menu_id" value="$parent_id"} selected="selected" {/eq}>{$var.menu_name}</option>
                                        {/if}
                                    {/foreach}       
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="admin-table-left">模块名称：</td>
                            <td class="admin-table-right">
                                <input name="data[menu_name]" type="text" class="admin-sc-add-text-name w200" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="admin-small-qr"><input type="submit" value="确认添加" class="admin-btn-small-quren"/></div>
            </div>
        </form>
    </div>
</div>




