{include  file='public:header'/}

<div class="admin-main-bt">
    <ul>
        <li class="li1">微信</li>
        <li class="li2">模板消息</li>
    </ul>
</div>


<div class="admin-main-js admin-main-sc">
	<p class="admin-attention"><span>注意：</span>开通类目：物流服务->查件qq 12 0585022</p>
    <div class="admin-js-nr">
        <div class="admin-select-nr" style="border-top: none; margin-top: 0px;">
        	<div class="left">
                {:BA('Weixintmpl/mangeTemplateAuto',array("type"=>$type),'一键导入全部订阅消息','act','')}
            </div>
        </div>

        <form  target="x-frame" method="post">
            <div class="admin-table-box">
                <table bordercolor="#e1e6eb" cellspacing="0" width="100%" border="1px"  style=" border-collapse: collapse; margin:0px; vertical-align:middle; background-color:#FFF;" >
                    <tr>
                        <td class="w50"><input type="checkbox" class="checkAll" rel="tmpl_id"/></td>
                        <td>序号</td>
                        <td>标题</td>
                        <td>类目</td>
                        <td>tid</td>
                        <td>备注</td>
                        <td>排序</td>
                    </tr>
                    {foreach name="list" item="var"}
                        <tr>
                        <td><input class="child_tmpl_id" type="checkbox" name="tmpl_id[]" value="{$var.tmpl_id}" /></td>
                        <td>{$var['tmpl_id']}</td>
                        <td>{$var['title']}</td>
                        <td>{$var['serial']}</td>
                        <td>{$var['template_id']}</td>
                        <td>{$var['info']}</td>
                        <td>{$var['sort']}</td>
                        </tr>
                    {/foreach}
                </table>
                {$page}
            </div>
        </form>
    </div>
</div>
    

