{include  file='public:header'/}
<div class="admin-main-bt">
    <ul>
        <li class="li1">会员</li>
        <li class="li2">会员管理</li>
        <li class="li2 li3">添加会员</li>
    </ul>
</div>
<p class="admin-attention"><span>说明：</span> 添加会员，添加会员的时候上级推荐人ID请一次性选择好，中途修改推荐人ID将不会新增上级的团队人数跟业绩总和，【强烈推荐从前台注册】</p>

<div class="listBox clfx">
    <div class="menuManage">
        <form  target="x-frame" action="{:url('user/create')}" method="post">
            <div class="admin-main-sc-add">
                <div class="admin-table-box">
                    <table  bordercolor="#dbdbdb" cellspacing="0" width="100%" border="1px"  style="border-collapse:collapse;margin:0px;vertical-align:middle;background-color:#FFF;">
                        
                       <tr>
                            <td class="admin-table-left">上级推荐人：</td>
                            <td class="admin-table-right">
                                <div class="lt">
                                    <input type="hidden" id="user_id" name="data[parent_id]" value="{$detail.parent_id|default=''}"/>
                                    <input class="admin-sc-add-text-name w210 sj" type="text" name="nickname" id="nickname"  value="{$user.nickname}"/>
                                </div>
                                <a mini="select"  w="920" h="600" href="{:url('user/select')}" class="admin-sele-xuanze">选择用户</a>
                            </td>
                        </tr>  
                        
                        <tr>
                            <td class="admin-table-left">账户：</td>
                            <td class="admin-table-right"><input type="text" name="data[account]" value="{$detail.account|default=''}" class="admin-sc-add-text-name w200" />
                                <code>账号只允许手机或邮件</code>
                            </td>
                        </tr>
                       <tr>
                            <td class="admin-table-left">密码：</td>
                            <td class="admin-table-right"><input type="password" name="data[password]" value="******" class="admin-sc-add-text-name w200" />
                            <code>建议6位以上的密码</code>
                            </td>
                        </tr>
                        <tr>
                            <td class="admin-table-left">支付密码：</td>
                            <td class="admin-table-right"><input type="pay_password" name="data[pay_password]" value="******" class="admin-sc-add-text-name w200" />
                            <code>当用户忘记支付密码后管理员可在后台重新修改支付密码，会员可在用户中心设置里面重置</code>
                            </td>
                        </tr>
                        
                        

                        <tr>
                            <td class="admin-table-left">姓名：</td>
                            <td class="admin-table-right"><input type="text" name="data[nickname]" value="{$detail.nickname|default=''}" class="admin-sc-add-text-name w200" />
                            </td>
                        </tr>
                        
                        


                          <tr>
                            <td class="admin-table-left">用户手机号：</td>
                            <td class="admin-table-right"><input type="text" name="data[mobile]" value="{$detail.mobile|default=''}" class="admin-sc-add-text-name w200" />
							<code>一般不要去修改！</code>
                            </td>
                        </tr>
                        
                       

    
                    <tr>
                        <td class="admin-table-left">头像：</td>
                     <td class="admin-table-right">
                        <div class="admin-table-right-div">
                            <input type="hidden" name="data[face]" value="{$detail.face}" id="data_face" />
                            <div id="fileToUpload" >上传头像</div>
                        </div>
                        <div class="admin-table-right-div">
                            <img id="face_img" class="admin-table-right-img"  src="{:config_img($detail['face'])}" />
                        </div>
                        <script>                                            
                         var uploader = WebUploader.create({                             
                            auto: true,                             
                            swf: '/static/default/webuploader/Uploader.swf',                             
                            server: '{:url("app/upload/uploadify",array("model"=>""))}',                             
                            pick: '#fileToUpload',                             
                            resize: true,  
                        });                                                 
                        uploader.on('uploadSuccess',function(file,resporse){                            
                            $("#data_face").val(resporse.url);                             
                            $("#face_img").attr('src',resporse.url).show();                         
                        });                                                
                        uploader.on('uploadError',function(file){                             
                            layer.msg('上传出错', {icon: 5});                         
                        });                     
                        </script>
                    </td>
                </tr>
            
                    </table>
                </div>
                <div class="admin-small-qr"><input type="submit" value="确认添加" class="admin-btn-small-quren"/></div>
            </div>
        </form>
    </div>
</div>
