{include  file='public:header'/}
<div class="admin-main-bt">
    <ul>
        <li class="li1">设置</li>
        <li class="li2">区域设置</li>
        <li class="li2 li3">商圈管理</li>
    </ul>
</div>
<div class="admin-main-js">
	{php}
        $city = model('area')->find($area_id);
    {/php}
    <div class="admin-js-nr">
        <div class="admin-select-nr">
            <div class="left">
            
            	{if condition="$area_id"}
                	{:BA('business/create',array('area_id'=>$area_id),'添加商圈','','',600,360)}
                {else/}
                	<a>添加商圈请从设置/城市设置/区域管理/商圈/进入</a>
                {/if}
                
                
                {:BA('business/create',array('area_id'=>$area_id),'添加商圈','','',600,360)}
                {:BA('area/index',array('city_id'=>$city['city_id']),'返回区域','','',600,360)}
                {:BA('business/index',array('area_id'=>$area_id),'刷新','','',600,360)}
            </div>
            <div class="right">
             
             
              <form class="admin-search-form" method="post" action="{:url('business/index')}">
                    <div class="admin-sele-hidden" id="admin-sele-hidden">
                    <div class="admin-sele-k">
                    
                      <input type="text" name="keyword" placeholder=" 输入商圈名称拼音"  value="{$keyword}" class="admin-input-text"/>
                       <input type="submit" value="  搜索"  class="admin-input-button"/>
                    </div>
                </div>
            </form>
           </div> 
        </div>
        <form target="x-frame" method="post">
            <div class="admin-table-box">
                <table bordercolor="#e1e6eb" cellspacing="0" width="100%" border="1px"  style="border-collapse:collapse;margin:0px;vertical-align:middle;background-color:#FFF;">
                    <tr>
                        <td><input type="checkbox" class="checkAll" rel="business_id"/></td>
                        <td>ID</td>
                        <td>商圈名称</td>
                        <td>排序</td>
                        <td>操作</td>   
                    </tr>
                    {foreach name="list" item="var"}
                        <tr>
                            <td><input class="child_business_id" type="checkbox" name="business_id[]" value="{$var.business_id}"/></td>
                            <td>{$var.business_id}</td>
                            <td>{$var.business_name}</td>
                            
                            <td>{$var.orderby}</td>
                            <td>
                                {eq name="var.is_hot" value="0"}
                                	{:BA('business/hots',array("business_id"=>$var["business_id"],'area_id'=>$area_id),'设为热门','act','admin-btn-default')}
                                {else/}
                                	{:BA('business/hots',array("business_id"=>$var["business_id"],'area_id'=>$area_id),'取消热门','act','admin-btn-default')}
                                {/eq}
                                {:BA('business/edit',array("business_id"=>$var["business_id"],'area_id'=>$area_id),'编辑','','admin-btn-default',600,360)}
                                {:BA('business/delete',array("business_id"=>$var["business_id"],'area_id'=>$area_id),'删除','act','admin-btn-default')}
                                {:BA('paymentlogs/index',array("city_id"=>$var["city"]["city_id"],"area_id"=>$var["area_id"],"business_id"=>$var["business_id"]),'支付日志','','admin-btn-default')}
                          </td>
                        </tr>
                    {/foreach}
                </table>
                {$page}
            </div>
            <div class="admin-select-nr">
                <div class="left">
                    {:BA('business/delete',array('area_id'=>$area_id),'批量删除','list',' a2')}
                </div>
            </div>
        </form>
    </div>
</div>
{include  file='public:footer'/}        